<section id="footer">
    <div class="container-fluid cf-footer">
        <div class="row">
            <div class="col-md-3">
                <div class="mb-3">
                    <img src="/images/logo.png" alt="" class="footerLogo">
                </div>
                <div class="mb-3 footerAddress">
                    <i class="bi bi-geo-alt-fill"></i> Post Box No. 236 <br>
                    41 - c, P.K.S.A. Arumuga Nadar Road <br>
                    Sivakasi - 626 189
                </div>
                <div class="mb-3">
                    <img src="/images/green logos.png" alt="" class="greenLogo">
                </div>
                
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <h6 class="footerHead">Useful links</h6>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="/about">About</a></li>
                    <li class="list-group-item"><a href="/safetyTips">Safety Tips</a></li>
                    <li class="list-group-item"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <h6 class="footerHead">Products</h6>
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="/products/eliteSeries">Elite Series</a></li>
                    <li class="list-group-item"><a href="/products/ckSeries">CK Series</a></li>
                    <li class="list-group-item"><a href="/products/newEliteSeries">New Elite Series</a></li>
                    <li class="list-group-item"><a href="/products/kidsZone">Kids Zone</a></li>
                    <li class="list-group-item"><a href="/products/multiShots">Multi Shots</a></li>
                    <li class="list-group-item"><a href="/products/skyShootups">Sky Shots</a></li>
                    <li class="list-group-item"><a href="/products/sparklers">Sparklers</a></li>
                    <li class="list-group-item"><a href="/products/chakkar">Chakkars</a></li>
                    <li class="list-group-item"><a href="/products/giftBox">Gift Box</a></li>
                    <li class="list-group-item"><a href="/products/TwinklingStarBijili">Twinkling Stars & Bijili</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="mb-3 footerAddress footerHead">
                    <h6><i class="bi bi-phone-vibrate-fill"></i> Contact</h6>
                </div>
                <div class="mb-3 footerAddress">
                    Office Phone: +91 4562 274261, 278731
                </div>
                <div class="mb-3 footerAddress">   
                    <strong>Our Sales Executives</strong> <br>
                    Sakthi vadivel - +919842408951 <br>
                    Senthil - +919943209102 <br>
                    Uma Sankar - +917598358813
                </div>
                <div class="mapouter"><div class="gmap_canvas"><iframe width="300" height="150" id="gmap_canvas" src="https://maps.google.com/maps?q=ananda%20fireworks&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.whatismyip-address.com"></a><br><style>.mapouter{position:relative;text-align:right;height:150px;width:300px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:150px;width:300px;}</style></div></div>
            </div>
            <div class="col-md-12">
                <hr class="mt-4 mb-0 hr">
            </div>
        </div>
        <div class="row justify-content-md-between align-items-center py-4">
            <div class="col-md-6" style="color: white;">
                ©2022 Ananda's Fireworks Industries. All rights reserved
            </div>
            <div class="col-md-6" style="color: white; text-align: right;">
                
                <a class="btn btn-white btn-round mb-2"><i class="bi bi-facebook"></i></a>
                <a class="btn btn-white btn-round mb-2"><i class="bi bi-instagram"></i></a>
                <a class="btn btn-white btn-round mb-2"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </div>
</section>


<!-- JQuery inclusion -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Bootstrap Javascript -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- Custom Js -->
    
<script type="text/javascript">
       var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>

</body>
</html>