<%- include partials/header %>

<section class="about position-relative">
    <div class="container-fluid cf-about">
        <div class="row">
            <div class="bg-overlay">
            </div>
            <div class="col-md-12 z-index-9">
                <div class="about-logo">
                    <img class="aboutLogoImg" src="/images/logo.png" alt="">
                </div>
                
                <h3 class="about-h3">The Brand to Remember</h3>
            </div>
        </div>
    </div>
</section>

<section class="about2">
    <div class="container-fluid cf-about2">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <i class="bi bi-megaphone-fill megaphone"></i>
               <h1 class="about2H1 mb-3">How did we get here?<br> The history of the business told.</h1>
               
            </div>
            <div class="col-md-6">
                <p style="text-align:justify">ANANDA FIREWORKS WAS ESTABLISHED IN THE YEAR 1985, FOUNDED BY A.ARUNACHALA NADAR. ANANDA FIREWORKS PRODUCTS ARE WELL KNOWN IN FIREWORKS MARKET AS GLOBE BRAND CRACKERS.SPARKLERS ARE MANUFACTURED IN VIJAYALAKSHMI FIREWORKS INDUSTRIES WITH THE BRAND NAME HANUMAN FOR ENHANCING THE QUALITY OF SPARKLER PRODUCTION.</p>
                <p style="text-align:justify">WE ANANDA'S ARE TRADITIONAL AND REPUTED FIREWORKS MANUFACTURERS WITH QUALITY AND SAFETY BLENDED PRODUCTION PROCESS. QUALITY PRODUCTS AT ECONOMIC PRICE IS OUR PRIME CONCERN. OUR QUALITY AND TIMELY DELIVERY AT NOMINAL PRICES HAS ATTRACTED INNUMERABLE CUSTOMERS AND AGENTS ALL OVER INDIA.</p>
            </div>
        </div>
    </div>
</section>

<section class="about3">
    <div class="container-fluid cf-about3">
        <div class="row">
            <div class="col-md-9 col-12">
                <h2 class="about3-h2">Our Timeline</h2>
                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-clock-fill time">  </i> <span class="year">1974</span> - Our fireworks group was founded by Shri. A.Arunachala Nadar in Sivakasi.</li>
                    <li class="list-group-item"><i class="bi bi-clock-fill time"></i> <span class="year">1985</span> - Ananda Fireworks was established in Sivakasi.</li>
                    <li class="list-group-item"><i class="bi bi-clock-fill time"></i> <span class="year">1995</span> - We supply our fireworks to major cities in India.</li>
                    <li class="list-group-item"><i class="bi bi-clock-fill time"></i> <span class="year">2005</span> - New novel fireworks and fancy varieties are introduced.</li>
                    <li class="list-group-item"><i class="bi bi-clock-fill time"></i> <span class="year">2012</span> - Our dealer network covers nearly 80% of Indian states.</li>
                    <li class="list-group-item"><i class="bi bi-clock-fill time"></i> <span class="year">2018</span> - Take necessary actions to manufacture green crackers.</li>
                  </ul>
            </div>
            <div class="col-md-3">
                <img src="/images/diwali.jpg" alt="" class="aboutImg">
            </div>
        </div>
    </div>
</section>

<section class="WhoWeAre">
    <div class="container-fluid cf-wwa">
        <div class="row">
            <!-- <div class="col-md-12">
                <h1 class="legacyTitle"><span class="legacySpan">Who We Are?</span></h1>
            </div> -->
            <div class="col-md-4">
                <p>
                    <a class="btn btn-sm btn1" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        WHAT WE DO
                    </a>
                  </p>
                  <div class="collapse show" id="collapseExample1">
                    <div class="card card-body">
                        Ananda fireworks products are well known in fireworks market as Globe brand crackers. We also engage in manufacturing sparklers under the brand name "Hanuman".
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <p>
                    <a class="btn btn-sm btn2" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                        WHAT WE ACHIEVE
                    </a>
                  </p>
                  <div class="collapse show" id="collapseExample2">
                    <div class="card card-body">
                        Our Vision is to serve our customers, employees and the society to our best.
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <p>
                    <a class="btn btn-sm btn3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      WHY CHOOSE US
                    </a>
                  </p>
                  <div class="collapse show" id="collapseExample">
                    <div class="card card-body">
                        Quality & innovation has always been the basic necessity of Ananda Fireworks Industries which indeed become the main reason to choose us.
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>


<%- include partials/footer %>