<%- include partials/header %>

<section class="contact position-relative">
    <div class="container-fluid cf-contact">
        <div class="row">
            <div class="bg-overlay">
            </div>
            <div class="col-md-12 z-index-9">
                <div class="about-logo">
                    <h1 class="contact-h1 tracking-in-expand">CONTACT</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact2">
    <div class="container-fluid cf-contact2">
        <div class="row">
            <div class="col-md-7">
                <h1 class="contact-git mb-3">Get In Touch</h1>
                
                <!-- Form -->
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="name@example.com">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="contact" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="contact" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="number" class="form-control" id="subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label for="message" class="form-label">Message</label>
                            <textarea rows="3" type="text" class="form-control" id="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-sm btn-warning carousel-btn">Send Message</button>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-5">
                <div class="row g-3">
                    <div class="col-lg-10">
                        <div class="shadow p-4 mb-4 rounded-3">
                            <div class="mb-3">
                                <h6>Ananda Fireworks Industries</h6>
                            </div>
                            <div class="mb-3">
                                <i class="bi bi-geo-alt-fill"></i> Post Box No. 236 <br>
                                41 - c, P.K.S.A. Arumuga Nadar Road <br>
                                Sivakasi - 626 189
                            </div>
                        </div>
                        <div class="shadow p-4 mb-4 rounded-3">
                            <div class="mb-3">
                                <h6 class="email"><i class="bi bi-envelope-open-fill"></i> anandafireworksindustries@gmail.com</h6>
                            </div>
                        </div>
                        <div class="shadow p-4 mb-4 rounded-3">
                            <div class="mb-3">
                                <h6><i class="bi bi-phone-vibrate-fill"></i> Contact</h6>
                            </div>
                            <div class="mb-3">
                                Office Phone: +91 4562 274261, 278731
                            </div>
                            <div class="mb-3">   
                                <strong>Our Sales Executives</strong> <br>
                                Sakthi vadivel - +919842408951 <br>
                                Senthil - +919943209102 <br>
                                Uma Sankar - +917598358813
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="contact3">
    <div class="container-fluid cf-contact3">
        <div class="row">
            <div class="col-md-12">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="100% !important" height="500px" id="gmap_canvas" src="https://maps.google.com/maps?q=ananda%20fireworks&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/">divi discount</a>
                        <br>
                        <style>
                        .mapouter
                        {
                            position:relative;
                            text-align:right;
                            height:500px;
                            width:100% !important;
                        }
                        </style>
                        <a href="https://www.embedgooglemap.net">embedding a google map</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100% !important;}</style></div></div>
            </div>
        </div>
    </div>
</section>


<%- include partials/footer %>