<%- include partials/header %>

<section class="index1 position-relative">
    <figure class="mb-0 position-absolute bottom-0 start-0 d-none d-lg-block">  
        <svg class="fill-dark opacity-25" width="233" height="209">
            <path d="m42.126 51.038c-6.1 0-10.4-3.9-10.8-9.7-0.3-3.4 0.7-6.5 2.6-9.3 2-2.8 6.4-4.9 9.9-2.8 0.3 0.2 0.7 0.3 1.1 0.4 4.6 0.5 8.7 5.6 8.6 10.9-0.1 5.1-4.3 9.5-9.7 10.3-0.6 0.1-1.3 0.2-1.7 0.2z"></path>
            <path d="m90.426 20.638c-6.9 0-11.4-5.6-9.8-12.4 0.5-2.3 1.6-4.4 3.3-6 1.9-1.8 4.1-2.7 6.8-2 1.2 0.3 2.4 0.3 3.5 0.6 4 0.8 6.8003 3.2 7.8003 7.2 1.1 4-0.4 7.2-3.4003 9.8-2.3 2-5.1 2.8-8.2 2.8z"></path>
            <path d="m23.626 79.538c-0.1 6.7-6.4 11-12.5 8.4-8.4-3.5-9.2-12.6-5.5-18.4 0.9-1.4 2.2-2.3 3.8-2.8 1.4-0.4 2.9-0.5 3.9 0.4 1.6 1.5 3.6 2 5.3 3.1 3.1 2 5 5.5 5 9.3z"></path>
            <path d="m37.626 182.54c-7.3 0-12.7-5.8-12.3-12.5 0.3-4.7 3.3-7 7.9-5.9 0.7 0.2 1.4 0.1 2.1 0.2 1.3 0.1 2.7 0.1 4 0.3 4.6 0.8 7.9 4.5 7.9 8.9 0 4.1-3.3 7.9-7.7 8.9-0.7 0-1.5 0-1.9 0.1z"></path>
            <path d="m19.326 124.74c0 3.6-1.1 6.6-3.5 9-3.3 3.3-8.1 3.6-11.7 0.6-4.5-3.6-5.5-11.1-2.1-15.6 2.5-3.3 6.1-3.9 9.9-3.1 3.9 0.8 6.2 3.4 7.1 7.3 0.2 0.7 0.3 1.4 0.3 1.8z"></path>
            <path d="m125.73 197.94c0-5.2 3.9-9 9.4-9 6.4 0 11 4.2 11 10.1 0 5.2-4.5 9.4-10 9.5-5.9 0-10.4-4.6-10.4-10.6z"></path>
            <path d="m83.126 206.74c-6.3 0-12.4-6.1-12.3-12.4 0-4.4 3.4-6.8 7.6-5.5 1 0.3 2.2 0.3 3.3 0.3 4.6-0.2 8 1.9 9.5 5.8 2.3 5.9-1.7 11.9-8.1 11.8z"></path>
            <path d="m202.63 178.74c0 4.4-3.7 8.3-8.3 8.8-4 0.4-8.2-2-9.7-5.7-1-2.4-0.9-4.7 0.6-6.8 0.1-0.2 0.3-0.4 0.4-0.6 3.4-4.7 8.5-5.6 13.4-2.4 2.3 1.6 3.6 4 3.6 6.7z"></path>
            <path d="m124.73 13.538c0-2.1 0.5-3.8 1.6-5.4 2-3 5.2-3.8 8.4-2.1 1.3 0.7 2.5 1.4 3.7 2.3 2.6 2.1 3.7 4.8 2.9 8.1-0.8 3.4-3.1 5.5-6.6 6.2-3.3 0.6-6-0.6-8-3.2-1.4-1.8-2-3.8-2-5.9z"></path>
            <path d="m222.83 126.14c5.3-0.1 9.4 4.3 9.3 9-0.1 2.8-1.1 5.1-3.2 7-4.4 4-11.1 1.9-12.4-3.9-0.3-1.3-0.4-2.8 0-4 0.6-2 1.6-4 2.6-5.9 1-1.6 2.7-2.2 3.7-2.2z"></path>
            <path d="m146.03 79.538c0-0.3-0.1-0.7-0.1-1.1-0.2-3.3 1.6-5.5 4.7-6.2 4.3-0.9 9.1 2 10 6.1 1 4.3-1.8 8.5-6.2 9.6-4.5 1.1-9.4-2.3-8.6-7.4 0.1-0.3 0.1-0.6 0.2-1z"></path>
            <path d="m65.926 61.838c0.1-3.1 0.9-5.5 2.9-7.3 3.4-3.1 8.1-2 9.6 1.7 0.4 0.9 0.9 1.7 1.4 2.5 1.4 2.7 1.5 5.4-0.3 7.9-1.7 2.4-4.1 3.5-7.1 3-3.2-0.5-5.1-2.5-6.1-5.4-0.2-1-0.3-1.9-0.4-2.4z"></path>
            <path d="m104.23 149.94c2.7 1.2 6.2 2 8.1 5.3 1.5 2.7 0.9 6-1.4 8.4-2.4 2.4-5.9 3-8.8 1.6-4.2003-2.1-6.0003-7.9-3.7003-12 1.1-2.1 3.0003-3.3 5.8003-3.3z"></path>
            <path d="m147.63 158.34c-4.3 0-7.8-3.6-7.6-7.9 0.1-1.7 0.6-3.5 1.4-5 1.2-2.4 3.5-3.3 6-2.8 1.7 0.3 3.4 1 4.8 2 3 2 4.1 5.3 3.1 8.3-1 3.2-4.3 5.4-7.7 5.4z"></path>
            <path d="m48.226 92.838c0-2.2 0.6-4.1 2.2-5.6 2.5-2.3 6.1-2.1 8.2 0.5 0.7 0.9 1.4 1.7 2.2 2.5 1.2 1.2 2.1 2.6 2.5 4.3 1 4.7-2.9 8.7004-7.6 7.8004-4.1-0.7-7.4-4.9004-7.5-9.5004z"></path>
            <path d="m174.53 41.738c-2.9 0-5.4-1.8-6.1-4.7-0.3-1.3-0.8-2.5-1.7-3.6-2.1-2.5-1.3-6 1.6-7.5 0.6-0.3 1.3-0.6 2-0.7 4.7-0.6 10.3 3.7 10.8 8.4 0.5 4.3-2.6 8.1-6.6 8.1z"></path>
            <path d="m107.63 50.838c0 2.4-0.4 4.2-1.6 5.9-2.5 3.6-7.4003 3.9-10.3 0.5-2.4-2.7-2.6-6.5-0.7-9.5 0.4-0.7 0.8-1.4 1.1-2.1 1.6-4 6.1003-4.9 9.0003-1.7 2 2.1 2.5 4.6 2.5 6.9z"></path>
            <path d="m205.43 62.638c0 3.8-2.8 6.8-6.5 7.1-4 0.3-7.5-2.6-7.9-6.7-0.2-1.5-0.1-3 0-4.5 0.3-2.6 2.4-4.4 5.1-4.6 4.5-0.4 9.4 4.2 9.3 8.7z"></path>
            <path d="m226.63 92.038c0 3.8-3 7.2-6.9 7.6-3.6 0.4004-7.1-2-7.8-5.6-0.5-2.4 0.1-4.8 1.1-6.9 0.4-0.9 1.5-1.7 2.4-2.2 4.7-2.3 11.2 1.8 11.2 7.1z"></path>
            <path d="m180.03 117.24c0 3.3-2.1 6.1-5.3 6.8-3 0.7-6-0.9-7.4-3.9-0.4-0.8-0.9-1.7-1.5-2.4-2.1-2.9-1.1-6.7 2.2-8.2 5.2-2.3 12 2.1 12 7.7z"></path>
            <path d="m131.73 58.138c0 0.3 0 0.7-0.1 1.2-0.5 3.4-2.9 5.8-6 5.8-3 0-5.5-2.2-6.1-5.4-0.3-1.8-0.7-3.6-1-5.4-0.4-2.1 0.1-4 1.9-5.3 1.9-1.4 3.9-1.3 5.9-0.2 2.7 1.4 5.4 5.9 5.4 9.3z"></path>
            <path d="m77.626 136.04c-0.2 2.6-1.5 4.8-4.2 6s-5.3 0.8-7.6-1.2c-2.7-2.3-3.6-6.6-2.1-9.9s5.2-4.6 8.5-2.9c3.4 1.7 5.4 4.6 5.4 8z"></path>
            <path d="m101.03 93.738c-0.1 1.5-0.1 2.5-0.2 3.4-0.4 2.4-1.8003 4.0004-4.2003 4.7004-2.3 0.6-4.3-0.1-5.8-1.8-2.8-3.0004-2.5-8.2004 0.3-11 1.9-1.8 4.6-2.3 6.9-1.2 2.2003 1 3.2003 3.1 3.1003 5.7-0.1 0.3-0.1 0.5-0.1 0.2z"></path>
            <path d="m126.23 130.24c0 2.6-1.9 4.8-4.6 5.4-2.6 0.6-4.9-0.1-6.8-2.1-1.8-2-2.4-4.3-1.7-6.9 0.6-2.2 2.1-3.6 4.3-4.1 2.1-0.5 3.9 0.2 5.4 1.8 0.6 0.7 1.3 1.4 1.9 2.1 1.1 1.1 1.6 2.3 1.5 3.8z"></path>
            <path d="m100.73 119.84c-0.1 3.2-1.1003 5.1-3.3003 6.2s-4.4 0.8-6.3-0.7c-2.9-2.2-3.6-6.7-1.7-9.8 2.3-3.7 7.3-3.7 9.5 0.1 0.9 1.4 1.4003 3.2 1.8003 4.2z"></path>
            <path d="m137.03 101.04c0 3-1.7 5.5-4.3 6.2s-5.4-0.5-6.8-3.1c-0.9-1.6-1.3-3.4-0.9-5.3004 0.5-2.4 1.9-4 4.3-4.6 2.3-0.6 4.2 0.2 5.8 1.9 1.3 1.3 1.8 3.1 1.9 4.9004z"></path>
            <path d="m121.53 89.338c-3.3 0-6.3-3.1-6.3-6.5 0-3 2.3-5.3 5.3-5.2 3.9 0 6.9 2.6 6.9 5.8 0 3.1-2.7 5.9-5.9 5.9z"></path>
        </svg>
    </figure>
    
    <figure class="position-absolute top-0 start-0 mb-0 d-none d-lg-block">
        <svg class="fill-dark opacity-2" width="123" height="64">                
            <path transform="scale(1, -1) translate(0, -70)" d="M55.7,20.1c-0.4-0.3-0.6-0.6-0.9-0.7C44.6,13.2,33.9,7.9,22.2,4.8c-5.3-1.4-10.7-2-16.1-2.3C4.7,2.5,3.2,2.3,1.8,2.1 C1.3,2,0.7,1.8,0.3,1.5C0.1,1.3-0.1,0.8,0,0.5C0.1,0.2,0.6,0,0.9,0c13.3,0.4,26.3,2.5,38.4,8.3c6.2,3,12.3,6.1,18.1,9.8 c0.6,0.4,1.5,0.9,2.1,0.8c7.8-1.3,15.4,0,22.7,2.2c11.3,3.5,22.4,7.4,33.6,11.2c0.7,0.2,1.5,0.5,2.5,0.4 c-4.8-6.2-9.7-12.3-14.6-18.6c1.1-0.8,1.9-0.6,2.7-0.1c0.9,0.6,1.9,1.2,2.7,2c4.3,4.5,8.6,9,12.8,13.6c0.9,1,1.6,2.2,2.2,3.4 c1.1,2.4,0,4.3-2.6,4.7c-5.1,0.7-10.1,1.3-15.2,1.8c-1.5,0.2-2.4-0.4-2.6-1.5c-0.1-1,0.6-1.9,2.1-2.2c2.6-0.5,5.2-0.8,8.1-1.3 c-0.5-0.3-0.7-0.5-1-0.6c-11.3-3.4-22.6-6.8-34-10c-3.4-1-7.1-1.3-10.6-1.8c-1.4-0.2-2.9,0-4.7,0c0.6,0.7,1.1,1.2,1.5,1.6 c3.4,3,6.5,6.4,8.9,10.3c2.1,3.5,3.4,7.2,3.3,11.4c-0.1,1.4-0.2,2.9-0.6,4.3c-1.7,6.2-7.3,9.5-13.8,8.1c-8.1-1.6-18-9.7-18-21.4 c0-6.6,3.1-11.6,8.6-15.2C54.3,20.9,55,20.5,55.7,20.1z M75.4,44.4c-0.1-3.8-1.1-7-2.9-9.9c-2.7-4.7-6.5-8.5-10.6-11.9 c-0.9-0.8-1.8-0.8-2.9-0.5C53.2,24,49,30,49.3,35.9c0.3,8,7.1,16.2,15,17.9c5.3,1.2,9.4-1.4,10.7-6.6C75.2,46.1,75.3,45,75.4,44.4z"></path>
        </svg>
    </figure>
    <div class="container-fluid cf-carousel">
        <div class="row">
            <!-- <img src="/images/crackers1.gif" alt="" class="gifCrackers position-absolute" style="width: 10%;">
            <img src="/images/crackers1.gif" alt="" class="gifCrackers1 position-absolute" style="width: 10%;">
            <img src="/images/crackers1.gif" alt="" class="gifCrackers2 position-absolute" style="width: 10%;"> -->
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- carousel 1 -->
                  <div class="carousel-item active">
                    <div class="container-fluid cf-carouselInner">
                        <div class="row">
                            <div class="col-md-5">
                                <h1 class="carousel1-h1 h1special animate__animated animate__fadeInLeft">Let's <span style="color:rgb(255, 185, 0) ;">Celebrate</span> our Tradition with <span style="color:rgb(255, 185, 0);">Ananda's</span></h1>
                                <p class="carousel1-p">A Traditional Quality Crackers manufacturer from the Crackers HomeTown Sivakasi. We have a wide variety of crackers which suits all age group people.</p>
                                <a class="btn btn-sm btn-warning carousel-btn">Explore</a>
                            </div>
                            <div class="col-md-7" style="text-align: center;">
                                <!-- <img src="/images/diwali.jpg" alt="" class="carousel1-img"> -->
                                <img src="/images/firworks.svg" class="carousel1-svg position-relative scale-up-center" alt="">
                                <figure class="position-absolute bottom-0 end-0 mb-0 d-none d-lg-block">
                                    <svg class="fill-warning" width="123" height="64">                
                                        <path d="M55.7,20.1c-0.4-0.3-0.6-0.6-0.9-0.7C44.6,13.2,33.9,7.9,22.2,4.8c-5.3-1.4-10.7-2-16.1-2.3C4.7,2.5,3.2,2.3,1.8,2.1 C1.3,2,0.7,1.8,0.3,1.5C0.1,1.3-0.1,0.8,0,0.5C0.1,0.2,0.6,0,0.9,0c13.3,0.4,26.3,2.5,38.4,8.3c6.2,3,12.3,6.1,18.1,9.8 c0.6,0.4,1.5,0.9,2.1,0.8c7.8-1.3,15.4,0,22.7,2.2c11.3,3.5,22.4,7.4,33.6,11.2c0.7,0.2,1.5,0.5,2.5,0.4 c-4.8-6.2-9.7-12.3-14.6-18.6c1.1-0.8,1.9-0.6,2.7-0.1c0.9,0.6,1.9,1.2,2.7,2c4.3,4.5,8.6,9,12.8,13.6c0.9,1,1.6,2.2,2.2,3.4 c1.1,2.4,0,4.3-2.6,4.7c-5.1,0.7-10.1,1.3-15.2,1.8c-1.5,0.2-2.4-0.4-2.6-1.5c-0.1-1,0.6-1.9,2.1-2.2c2.6-0.5,5.2-0.8,8.1-1.3 c-0.5-0.3-0.7-0.5-1-0.6c-11.3-3.4-22.6-6.8-34-10c-3.4-1-7.1-1.3-10.6-1.8c-1.4-0.2-2.9,0-4.7,0c0.6,0.7,1.1,1.2,1.5,1.6 c3.4,3,6.5,6.4,8.9,10.3c2.1,3.5,3.4,7.2,3.3,11.4c-0.1,1.4-0.2,2.9-0.6,4.3c-1.7,6.2-7.3,9.5-13.8,8.1c-8.1-1.6-18-9.7-18-21.4 c0-6.6,3.1-11.6,8.6-15.2C54.3,20.9,55,20.5,55.7,20.1z M75.4,44.4c-0.1-3.8-1.1-7-2.9-9.9c-2.7-4.7-6.5-8.5-10.6-11.9 c-0.9-0.8-1.8-0.8-2.9-0.5C53.2,24,49,30,49.3,35.9c0.3,8,7.1,16.2,15,17.9c5.3,1.2,9.4-1.4,10.7-6.6C75.2,46.1,75.3,45,75.4,44.4z"></path>
                                    </svg>

                                </figure>
                                
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- Carousel 2 -->
                  <div class="carousel-item">
                    <div class="container-fluid cf-carouselInner">
                        <div class="row">
                            <div class="col-md-5">
                                <h1 class="carousel1-h1 animate__animated animate__fadeInUp">Give your <span style="color:rgb(255, 185, 0) ;">Heart</span> for our <span style="color:rgb(255, 185, 0) ;">Quality</span></h1>
                                <p class="carousel1-p">Quality is our Mantra. We always careful in maintaining our products' Quality in every way.</p>
                                <a class="btn btn-sm btn-warning carousel-btn">Explore</a>
                            </div>
                            <div class="col-md-7" style="text-align: center;">
                                <img src="/images/appreciate.svg" class="carousel2-svg animate__animated animate__fadeIn" alt="">
                                <figure class="position-absolute top-0 end-0 mb-0 d-none d-lg-block">
                                    <svg class="fill-warning" width="123" height="64">                
                                        <path d="M55.7,20.1c-0.4-0.3-0.6-0.6-0.9-0.7C44.6,13.2,33.9,7.9,22.2,4.8c-5.3-1.4-10.7-2-16.1-2.3C4.7,2.5,3.2,2.3,1.8,2.1 C1.3,2,0.7,1.8,0.3,1.5C0.1,1.3-0.1,0.8,0,0.5C0.1,0.2,0.6,0,0.9,0c13.3,0.4,26.3,2.5,38.4,8.3c6.2,3,12.3,6.1,18.1,9.8 c0.6,0.4,1.5,0.9,2.1,0.8c7.8-1.3,15.4,0,22.7,2.2c11.3,3.5,22.4,7.4,33.6,11.2c0.7,0.2,1.5,0.5,2.5,0.4 c-4.8-6.2-9.7-12.3-14.6-18.6c1.1-0.8,1.9-0.6,2.7-0.1c0.9,0.6,1.9,1.2,2.7,2c4.3,4.5,8.6,9,12.8,13.6c0.9,1,1.6,2.2,2.2,3.4 c1.1,2.4,0,4.3-2.6,4.7c-5.1,0.7-10.1,1.3-15.2,1.8c-1.5,0.2-2.4-0.4-2.6-1.5c-0.1-1,0.6-1.9,2.1-2.2c2.6-0.5,5.2-0.8,8.1-1.3 c-0.5-0.3-0.7-0.5-1-0.6c-11.3-3.4-22.6-6.8-34-10c-3.4-1-7.1-1.3-10.6-1.8c-1.4-0.2-2.9,0-4.7,0c0.6,0.7,1.1,1.2,1.5,1.6 c3.4,3,6.5,6.4,8.9,10.3c2.1,3.5,3.4,7.2,3.3,11.4c-0.1,1.4-0.2,2.9-0.6,4.3c-1.7,6.2-7.3,9.5-13.8,8.1c-8.1-1.6-18-9.7-18-21.4 c0-6.6,3.1-11.6,8.6-15.2C54.3,20.9,55,20.5,55.7,20.1z M75.4,44.4c-0.1-3.8-1.1-7-2.9-9.9c-2.7-4.7-6.5-8.5-10.6-11.9 c-0.9-0.8-1.8-0.8-2.9-0.5C53.2,24,49,30,49.3,35.9c0.3,8,7.1,16.2,15,17.9c5.3,1.2,9.4-1.4,10.7-6.6C75.2,46.1,75.3,45,75.4,44.4z"></path>
                                    </svg>
                                </figure>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- Carousel 3 -->
                  <div class="carousel-item">
                    <div class="container-fluid cf-carouselInner">
                        <div class="row">
                            <div class="col-md-5">
                                <h1 class="carousel1-h1 animate__animated animate__flipInX">Entertain your <span style="color:rgb(255, 185, 0) ;">Kids</span> with <span style="color:rgb(255, 185, 0) ;">Light</span></h1>
                                <p class="carousel1-p">Festivals meant to be bright. We make it more brighter with our quality crackers. Let our crackers fill colors in your life.</p>
                                <a class="btn btn-sm btn-warning carousel-btn">Explore</a>
                            </div>
                            <div class="col-md-7" style="text-align: center;">
                                <!-- <img src="/images/diwali.jpg" alt="" class="carousel1-img"> -->
                                <img src="/images/festival.svg" class="carousel3-svg" alt="">
                                <figure class="position-absolute top-0 end-0 mb-0 d-none d-lg-block">
                                    <svg class="fill-warning" width="123" height="64">                
                                        <path d="M55.7,20.1c-0.4-0.3-0.6-0.6-0.9-0.7C44.6,13.2,33.9,7.9,22.2,4.8c-5.3-1.4-10.7-2-16.1-2.3C4.7,2.5,3.2,2.3,1.8,2.1 C1.3,2,0.7,1.8,0.3,1.5C0.1,1.3-0.1,0.8,0,0.5C0.1,0.2,0.6,0,0.9,0c13.3,0.4,26.3,2.5,38.4,8.3c6.2,3,12.3,6.1,18.1,9.8 c0.6,0.4,1.5,0.9,2.1,0.8c7.8-1.3,15.4,0,22.7,2.2c11.3,3.5,22.4,7.4,33.6,11.2c0.7,0.2,1.5,0.5,2.5,0.4 c-4.8-6.2-9.7-12.3-14.6-18.6c1.1-0.8,1.9-0.6,2.7-0.1c0.9,0.6,1.9,1.2,2.7,2c4.3,4.5,8.6,9,12.8,13.6c0.9,1,1.6,2.2,2.2,3.4 c1.1,2.4,0,4.3-2.6,4.7c-5.1,0.7-10.1,1.3-15.2,1.8c-1.5,0.2-2.4-0.4-2.6-1.5c-0.1-1,0.6-1.9,2.1-2.2c2.6-0.5,5.2-0.8,8.1-1.3 c-0.5-0.3-0.7-0.5-1-0.6c-11.3-3.4-22.6-6.8-34-10c-3.4-1-7.1-1.3-10.6-1.8c-1.4-0.2-2.9,0-4.7,0c0.6,0.7,1.1,1.2,1.5,1.6 c3.4,3,6.5,6.4,8.9,10.3c2.1,3.5,3.4,7.2,3.3,11.4c-0.1,1.4-0.2,2.9-0.6,4.3c-1.7,6.2-7.3,9.5-13.8,8.1c-8.1-1.6-18-9.7-18-21.4 c0-6.6,3.1-11.6,8.6-15.2C54.3,20.9,55,20.5,55.7,20.1z M75.4,44.4c-0.1-3.8-1.1-7-2.9-9.9c-2.7-4.7-6.5-8.5-10.6-11.9 c-0.9-0.8-1.8-0.8-2.9-0.5C53.2,24,49,30,49.3,35.9c0.3,8,7.1,16.2,15,17.9c5.3,1.2,9.4-1.4,10.7-6.6C75.2,46.1,75.3,45,75.4,44.4z"></path>
                                    </svg>
                                </figure>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>

<section class="ourLegacy">
    <div class="container-fluid cf-ourLegacy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="legacyTitle"><span class="legacySpan">OUR LEGACY</span></h1>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-3">
                    <div class="boxes shadow reveal2 animate__animated">
                        <i class="bi bi-hourglass-split icons"></i>
                        <h2 class="count" data-target="1974">0</h2>
                        <h4>Since</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="boxes shadow reveal3 animate__animated">
                        <i class="bi bi-award icons"></i>
                        <h2 class="count" data-target="46">0</h2>
                        <h4>Years of Excellence</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="boxes shadow reveal2 animate__animated">
                        <i class="bi bi-boxes icons"></i>
                        <h2 class="count" data-target="200">0</h2>
                        <h4>Products</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="boxes shadow reveal3 animate__animated">
                        <i class="bi bi-emoji-laughing-fill icons"></i>
                        <h2>1 Million+</h2>
                        <h4>Happy Customers</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12 btnExplore">
                <a href="/about" class="btn btn-sm btn-warning ">Explore more</a>
            </div>
        </div>
    </div>
</section>

<section class="WhyChooseUs position-relative">
    <figure class="mb-0 position-absolute bottom-0 end-0 d-none d-lg-block">  
        <svg class="fill-dark opacity-25" width="233" height="209">
            <path d="m42.126 51.038c-6.1 0-10.4-3.9-10.8-9.7-0.3-3.4 0.7-6.5 2.6-9.3 2-2.8 6.4-4.9 9.9-2.8 0.3 0.2 0.7 0.3 1.1 0.4 4.6 0.5 8.7 5.6 8.6 10.9-0.1 5.1-4.3 9.5-9.7 10.3-0.6 0.1-1.3 0.2-1.7 0.2z"></path>
            <path d="m90.426 20.638c-6.9 0-11.4-5.6-9.8-12.4 0.5-2.3 1.6-4.4 3.3-6 1.9-1.8 4.1-2.7 6.8-2 1.2 0.3 2.4 0.3 3.5 0.6 4 0.8 6.8003 3.2 7.8003 7.2 1.1 4-0.4 7.2-3.4003 9.8-2.3 2-5.1 2.8-8.2 2.8z"></path>
            <path d="m23.626 79.538c-0.1 6.7-6.4 11-12.5 8.4-8.4-3.5-9.2-12.6-5.5-18.4 0.9-1.4 2.2-2.3 3.8-2.8 1.4-0.4 2.9-0.5 3.9 0.4 1.6 1.5 3.6 2 5.3 3.1 3.1 2 5 5.5 5 9.3z"></path>
            <path d="m37.626 182.54c-7.3 0-12.7-5.8-12.3-12.5 0.3-4.7 3.3-7 7.9-5.9 0.7 0.2 1.4 0.1 2.1 0.2 1.3 0.1 2.7 0.1 4 0.3 4.6 0.8 7.9 4.5 7.9 8.9 0 4.1-3.3 7.9-7.7 8.9-0.7 0-1.5 0-1.9 0.1z"></path>
            <path d="m19.326 124.74c0 3.6-1.1 6.6-3.5 9-3.3 3.3-8.1 3.6-11.7 0.6-4.5-3.6-5.5-11.1-2.1-15.6 2.5-3.3 6.1-3.9 9.9-3.1 3.9 0.8 6.2 3.4 7.1 7.3 0.2 0.7 0.3 1.4 0.3 1.8z"></path>
            <path d="m125.73 197.94c0-5.2 3.9-9 9.4-9 6.4 0 11 4.2 11 10.1 0 5.2-4.5 9.4-10 9.5-5.9 0-10.4-4.6-10.4-10.6z"></path>
            <path d="m83.126 206.74c-6.3 0-12.4-6.1-12.3-12.4 0-4.4 3.4-6.8 7.6-5.5 1 0.3 2.2 0.3 3.3 0.3 4.6-0.2 8 1.9 9.5 5.8 2.3 5.9-1.7 11.9-8.1 11.8z"></path>
            <path d="m202.63 178.74c0 4.4-3.7 8.3-8.3 8.8-4 0.4-8.2-2-9.7-5.7-1-2.4-0.9-4.7 0.6-6.8 0.1-0.2 0.3-0.4 0.4-0.6 3.4-4.7 8.5-5.6 13.4-2.4 2.3 1.6 3.6 4 3.6 6.7z"></path>
            <path d="m124.73 13.538c0-2.1 0.5-3.8 1.6-5.4 2-3 5.2-3.8 8.4-2.1 1.3 0.7 2.5 1.4 3.7 2.3 2.6 2.1 3.7 4.8 2.9 8.1-0.8 3.4-3.1 5.5-6.6 6.2-3.3 0.6-6-0.6-8-3.2-1.4-1.8-2-3.8-2-5.9z"></path>
            <path d="m222.83 126.14c5.3-0.1 9.4 4.3 9.3 9-0.1 2.8-1.1 5.1-3.2 7-4.4 4-11.1 1.9-12.4-3.9-0.3-1.3-0.4-2.8 0-4 0.6-2 1.6-4 2.6-5.9 1-1.6 2.7-2.2 3.7-2.2z"></path>
            <path d="m146.03 79.538c0-0.3-0.1-0.7-0.1-1.1-0.2-3.3 1.6-5.5 4.7-6.2 4.3-0.9 9.1 2 10 6.1 1 4.3-1.8 8.5-6.2 9.6-4.5 1.1-9.4-2.3-8.6-7.4 0.1-0.3 0.1-0.6 0.2-1z"></path>
            <path d="m65.926 61.838c0.1-3.1 0.9-5.5 2.9-7.3 3.4-3.1 8.1-2 9.6 1.7 0.4 0.9 0.9 1.7 1.4 2.5 1.4 2.7 1.5 5.4-0.3 7.9-1.7 2.4-4.1 3.5-7.1 3-3.2-0.5-5.1-2.5-6.1-5.4-0.2-1-0.3-1.9-0.4-2.4z"></path>
            <path d="m104.23 149.94c2.7 1.2 6.2 2 8.1 5.3 1.5 2.7 0.9 6-1.4 8.4-2.4 2.4-5.9 3-8.8 1.6-4.2003-2.1-6.0003-7.9-3.7003-12 1.1-2.1 3.0003-3.3 5.8003-3.3z"></path>
            <path d="m147.63 158.34c-4.3 0-7.8-3.6-7.6-7.9 0.1-1.7 0.6-3.5 1.4-5 1.2-2.4 3.5-3.3 6-2.8 1.7 0.3 3.4 1 4.8 2 3 2 4.1 5.3 3.1 8.3-1 3.2-4.3 5.4-7.7 5.4z"></path>
            <path d="m48.226 92.838c0-2.2 0.6-4.1 2.2-5.6 2.5-2.3 6.1-2.1 8.2 0.5 0.7 0.9 1.4 1.7 2.2 2.5 1.2 1.2 2.1 2.6 2.5 4.3 1 4.7-2.9 8.7004-7.6 7.8004-4.1-0.7-7.4-4.9004-7.5-9.5004z"></path>
            <path d="m174.53 41.738c-2.9 0-5.4-1.8-6.1-4.7-0.3-1.3-0.8-2.5-1.7-3.6-2.1-2.5-1.3-6 1.6-7.5 0.6-0.3 1.3-0.6 2-0.7 4.7-0.6 10.3 3.7 10.8 8.4 0.5 4.3-2.6 8.1-6.6 8.1z"></path>
            <path d="m107.63 50.838c0 2.4-0.4 4.2-1.6 5.9-2.5 3.6-7.4003 3.9-10.3 0.5-2.4-2.7-2.6-6.5-0.7-9.5 0.4-0.7 0.8-1.4 1.1-2.1 1.6-4 6.1003-4.9 9.0003-1.7 2 2.1 2.5 4.6 2.5 6.9z"></path>
            <path d="m205.43 62.638c0 3.8-2.8 6.8-6.5 7.1-4 0.3-7.5-2.6-7.9-6.7-0.2-1.5-0.1-3 0-4.5 0.3-2.6 2.4-4.4 5.1-4.6 4.5-0.4 9.4 4.2 9.3 8.7z"></path>
            <path d="m226.63 92.038c0 3.8-3 7.2-6.9 7.6-3.6 0.4004-7.1-2-7.8-5.6-0.5-2.4 0.1-4.8 1.1-6.9 0.4-0.9 1.5-1.7 2.4-2.2 4.7-2.3 11.2 1.8 11.2 7.1z"></path>
            <path d="m180.03 117.24c0 3.3-2.1 6.1-5.3 6.8-3 0.7-6-0.9-7.4-3.9-0.4-0.8-0.9-1.7-1.5-2.4-2.1-2.9-1.1-6.7 2.2-8.2 5.2-2.3 12 2.1 12 7.7z"></path>
            <path d="m131.73 58.138c0 0.3 0 0.7-0.1 1.2-0.5 3.4-2.9 5.8-6 5.8-3 0-5.5-2.2-6.1-5.4-0.3-1.8-0.7-3.6-1-5.4-0.4-2.1 0.1-4 1.9-5.3 1.9-1.4 3.9-1.3 5.9-0.2 2.7 1.4 5.4 5.9 5.4 9.3z"></path>
            <path d="m77.626 136.04c-0.2 2.6-1.5 4.8-4.2 6s-5.3 0.8-7.6-1.2c-2.7-2.3-3.6-6.6-2.1-9.9s5.2-4.6 8.5-2.9c3.4 1.7 5.4 4.6 5.4 8z"></path>
            <path d="m101.03 93.738c-0.1 1.5-0.1 2.5-0.2 3.4-0.4 2.4-1.8003 4.0004-4.2003 4.7004-2.3 0.6-4.3-0.1-5.8-1.8-2.8-3.0004-2.5-8.2004 0.3-11 1.9-1.8 4.6-2.3 6.9-1.2 2.2003 1 3.2003 3.1 3.1003 5.7-0.1 0.3-0.1 0.5-0.1 0.2z"></path>
            <path d="m126.23 130.24c0 2.6-1.9 4.8-4.6 5.4-2.6 0.6-4.9-0.1-6.8-2.1-1.8-2-2.4-4.3-1.7-6.9 0.6-2.2 2.1-3.6 4.3-4.1 2.1-0.5 3.9 0.2 5.4 1.8 0.6 0.7 1.3 1.4 1.9 2.1 1.1 1.1 1.6 2.3 1.5 3.8z"></path>
            <path d="m100.73 119.84c-0.1 3.2-1.1003 5.1-3.3003 6.2s-4.4 0.8-6.3-0.7c-2.9-2.2-3.6-6.7-1.7-9.8 2.3-3.7 7.3-3.7 9.5 0.1 0.9 1.4 1.4003 3.2 1.8003 4.2z"></path>
            <path d="m137.03 101.04c0 3-1.7 5.5-4.3 6.2s-5.4-0.5-6.8-3.1c-0.9-1.6-1.3-3.4-0.9-5.3004 0.5-2.4 1.9-4 4.3-4.6 2.3-0.6 4.2 0.2 5.8 1.9 1.3 1.3 1.8 3.1 1.9 4.9004z"></path>
            <path d="m121.53 89.338c-3.3 0-6.3-3.1-6.3-6.5 0-3 2.3-5.3 5.3-5.2 3.9 0 6.9 2.6 6.9 5.8 0 3.1-2.7 5.9-5.9 5.9z"></path>
        </svg>
    </figure>
    <div class="container-fluid cf-wcu">
        <div class="row">
            <div class="col-md-6" style="text-align:center">
                <img src="/images/diwali.jpg" class="imgWcu position-relative" alt="">
                <figure class="position-absolute top-0 start-25 mt-3 mb-0 z-index-9 d-none d-lg-block">          
					<svg class="fill-warning">         
						<path d="M35.2,1.6c37.3,18.9,72.2,41.8,107.4,64.1c-0.2,0.4-0.4,0.8-0.6,1.2c-1.9-0.8-3.9-1.5-5.6-2.5c-30.3-17-60.6-34.1-91-51.1c-4.1-2.3-8.1-4.6-12.2-6.9c-2.3-1.2-2.8-2.7-1-4.7C33.2,1.6,34.2,1.6,35.2,1.6z"></path>
						<path d="M154,164.4c-5-3.8-10-7.6-15-11.3c-42.7-31.3-86.7-60.7-133-86.5c-1.8-1-3-3.3-4.4-4.9c2.3,0.2,5-0.4,6.9,0.6
						c12.9,7.3,25.8,14.5,38.3,22.4c36.4,22.8,71.8,47.2,104.1,75.7c1.2,1.1,2.5,2.2,3.7,3.3C154.3,163.8,154.1,164.1,154,164.4z"></path>
						<path d="M137.4,81.7C93.8,56.6,50.2,31.6,6.6,6.5C6.1,6.2,6.1,5.1,5.2,2.5c4.4,1.6,7.6,2.4,10.5,3.9c10,5.3,20,10.6,29.7,16.5
						c29.9,18.5,59.6,37.2,89.4,55.9c1.1,0.7,2.1,1.5,3.1,2.2C137.7,81.2,137.6,81.5,137.4,81.7z"></path>
						<path d="M122.8,88.8C87.6,68.9,52.4,49,17.2,29c-0.6-0.4-0.8-1.6-1.9-4c3.7,1.1,6.3,1.3,8.3,2.5c20.1,11.4,40.3,22.7,60.1,34.5 c12.1,7.2,23.8,15.3,35.6,23.1c1.4,0.9,2.6,1.9,3.9,2.9C123.1,88.3,122.9,88.6,122.8,88.8z"></path>
						<path d="M111.3,103.9c-1.8-1-3.7-1.9-5.5-2.9c-27-15.4-54.1-30.8-81-46.3c-2.1-1.2-5.3-5.2-5.1-5.4c2.8-3.3,5.4-0.2,7.6,1.2
						c27.6,17,55.2,34.1,82.7,51.3c0.6,0.4,1.2,0.9,1.7,1.4C111.6,103.3,111.5,103.6,111.3,103.9z"></path>       
					</svg>              
				</figure>
                <figure class="position-absolute bottom-0 end-25 me-6 mt-4 rotate-25 mb-0 d-none d-xl-block">          
                    <svg class="fill-primary">
                        <path d="m145.18 2.3094c0.013 0.05057 0.025 0.10115 0.039 0.15123h7.785c-4e-3 -0.05008-7e-3 -0.10066-0.011-0.15123h-7.813zm-75.923 60.654c2.6132-2.573 5.4727-4.9518 6.8582-8.4913-2.2859 2.8309-4.5718 5.6608-6.8582 8.4913zm13.4-29.32c0-0.5048 0.041-1.0136-0.0061-1.5138-0.7577-8.0639-7.3619-10.147-13.26-8.504-1.9232 0.5351-3.5434 1.5796-5.0923 2.7187-1.3804 1.0146-2.7538 2.1375-3.8206 3.4621-2.6622 3.3069-4.1807 7.2026-4.9956 11.332-1.1336 5.7448-1.3638 11.489 0.8118 17.087 1.2742 3.2765 3.1489 6.0898 6.2385 7.9824 0.8888 0.5443 1.4609 0.3885 2.1473-0.2721 5.0382-4.8475 9.6716-10.022 13.099-16.17 2.7978-5.0175 4.8282-10.274 4.8783-16.122zm46.11-28.008c4.129-0.95444 8.257-1.9084 12.386-2.8628-3.236 0.47899-6.455 1.0945-9.651 1.8128-0.937 0.21042-1.808 0.71267-2.712 1.0778-1.922-0.03793-3.379 1.0799-4.884 2.0717 1.62-0.69951 3.241-1.3995 4.861-2.0996zm-67.444 63.257c-5.0923-3.2017-8.2487-7.6709-9.7086-13.168-2.7907-10.51-1.1781-20.354 5.5319-29.044 3.1508-4.0812 7.4854-6.633 12.648-7.3942 4.3589-0.6424 8.1703 0.8108 11.393 3.754 3.206 2.927 5.2744 6.5789 5.6214 10.888 0.2969 3.6928-0.0303 7.4433-1.4467 10.954-1.1336 2.8087-2.298 5.6169-3.6845 8.3047-0.8351 1.619-2.0739 3.0438-3.2141 4.4904-2.6799 3.3984-5.4094 6.7574-8.0772 10.425 0.999-0.2858 2.0405-0.4725 2.989-0.8771 3.0608-1.3065 5.5101-3.4642 7.6988-5.9052 5.2729-5.8813 8.793-12.839 12.119-19.915 2.8924-6.1545 5.8359-12.285 9.7974-17.856 7.759-10.912 18.13-17.866 31.228-20.789 8.022-1.79 16.142-1.485 24.264-1.4521 3.056 0.01213 6.115-0.23571 9.172-0.35912 0.167-0.007081 0.337 0.042992 0.693 0.092559-0.37 0.34698-0.618 0.57964-0.668 0.62618 0.435 0.35355 0.877 0.71367 1.319 1.0733-0.379 0.45117-0.674 1.0703-1.158 1.3136-0.718 0.36063-1.559 0.568-2.365 0.64084-2.215 0.19979-4.44 0.27414-6.659 0.43751-2.533 0.18715-5.062 0.43145-7.596 0.61606-0.615 0.04502-1.248-0.11886-1.86-0.05918-2.929 0.28527-5.876 0.48456-8.774 0.96658-2.602 0.43347-5.129 1.3156-7.729 1.7723-1.981 0.34798-3.8 1.046-5.611 1.835-4.356 1.8993-8.508 4.0469-12.102 7.3093-5.042 4.5754-9.055 9.9399-12.55 15.674-2.082 3.4171-3.4219 7.2799-5.2212 10.88-1.8584 3.7171-3.8393 7.3745-5.8247 11.026-1.0005 1.8401-1.9687 3.7348-3.2409 5.3811-1.6232 2.1016-3.4852 4.0292-5.3477 5.9305-1.209 1.2326-2.4908 2.4597-3.9359 3.3812-3.3537 2.1406-7.0489 2.79-10.925 1.7111-1.1827-0.3287-2.0264-0.219-2.9845 0.6212-7.0888 6.2167-14.997 11.188-23.598 15.015-5.1318 2.2837-10.28 4.5936-15.589 6.3958-6.8481 2.3241-13.95 3.62-21.246 3.316-1.1796-0.0491-2.3769-0.2782-3.508-0.6186-0.47043-0.1416-0.78809-0.7926-1.1751-1.2114 0.4244-0.2837 0.82502-0.7516 1.2788-0.8103 0.77393-0.1001 1.5823 0.0471 2.3739 0.1093 0.53517 0.042 1.0744 0.2053 1.599 0.1623 5.6578-0.4673 11.181-1.6569 16.556-3.4368 14.002-4.6377 26.83-11.442 38.143-20.981 0.4163-0.3511 0.8139-0.7254 1.3739-1.2261z"></path>
                    </svg>
                </figure>
            </div>
            <div class="col-md-6 wcuRight">
                <h1 class="wcu-h1">Our Specialities</h1>
                <ul class="list-group" style="padding-top: 2% ;">
                    <li class="list-group-item"><span class="icons1"><i class="bi bi-arrow-right-square-fill"></i></span>  High Quality Firecrackers</li>
                    <li class="list-group-item"><span class="icons1"><i class="bi bi-arrow-right-square-fill"></i></span>  Innovative Fancy Items</li>
                    <li class="list-group-item"><span class="icons1"><i class="bi bi-arrow-right-square-fill"></i></span>  Advanced Infrastructure</li>
                    <li class="list-group-item"><span class="icons1"><i class="bi bi-arrow-right-square-fill"></i></span>  Timely Delivery</li>
                    <li class="list-group-item"><span class="icons1"><i class="bi bi-arrow-right-square-fill"></i></span>  100% Customer Satisfaction</li>
                  </ul>
            </div>
        </div>
    </div>
</section>

<section class="WhoWeAre">
    <div class="container-fluid cf-wwa">
        <div class="row">
            <!-- <div class="col-md-12">
                <h1 class="legacyTitle"><span class="legacySpan">Who We Are?</span></h1>
            </div> -->
            <div class="col-md-4">
                <p>
                    <a class="btn btn-sm btn1" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        WHAT WE DO
                    </a>
                  </p>
                  <div class="collapse show" id="collapseExample1">
                    <div class="card card-body">
                        Ananda fireworks products are well known in fireworks market as Globe brand crackers. We also engage in manufacturing sparklers under the brand name "Hanuman".
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <p>
                    <a class="btn btn-sm btn2" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
                        WHAT WE ACHIEVE
                    </a>
                  </p>
                  <div class="collapse show" id="collapseExample2">
                    <div class="card card-body">
                        Our Vision is to serve our customers, employees and the society to our best.
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <p>
                    <a class="btn btn-sm btn3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      WHY CHOOSE US
                    </a>
                  </p>
                  <div class="collapse show" id="collapseExample">
                    <div class="card card-body">
                        Quality & innovation has always been the basic necessity of Ananda Fireworks Industries which indeed become the main reason to choose us.
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials">
    <div class="container-fluid cf-testimonials">
        <div class="row">
            <div class="col-md-12">
                <h1 class="legacyTitle" style="color:orange ;"><span class="legacySpan">Testimonials</span></h1>
            </div>
            <div class="col-md-12">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <h3>Good quality products available</h3>
                        <h5><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                        <h6>- S. S. Subramani</h6>
                      </div>
                      <div class="carousel-item">
                        <h3>Avail lot of variety</h3>
                        <h5><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                        <h6>- Jayavel Rajan</h6>
                      </div>
                      <div class="carousel-item">
                        <h3>Superb service</h3>
                        <h5><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                        <h6>- Gemini Man</h6>
                      </div>
                      <div class="carousel-item">
                        <h3>Reasonable Prices</h3>
                        <h5><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></h5>
                        <h6>- Dharmender Gupta</h6>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</section>

<%- include partials/footer %>


<script type="text/javascript">

window.addEventListener('scroll', reveal1);
window.addEventListener('scroll', reveal2);
window.addEventListener('scroll', reveal3);

function reveal1(){
   var reveals = document.querySelectorAll('.reveal1');

   for(var i = 0; i < reveals.length; i++){
     var windowHeight = window.innerHeight;
     var revealTop = reveals[i].getBoundingClientRect().top;
     var revealpoint = 75;

     if(revealTop <  windowHeight - revealTop ){
       reveals[i].classList.remove('dontShow');
       reveals[i].classList.add('show');
       reveals[i].classList.add('animate__fadeIn');
     }
     else{
      reveals[i].classList.add('dontShow');
    //   reveals[i].classList.remove('animate__fadeIn');
     }
   }
}

function reveal2(){
   var reveals = document.querySelectorAll('.reveal2');

   for(var i = 0; i < reveals.length; i++){
     var windowHeight = window.innerHeight;
     var revealTop = reveals[i].getBoundingClientRect().top;
     var revealpoint = 75;

     if(revealTop <  windowHeight - revealTop ){
       reveals[i].classList.remove('dontShow');
       reveals[i].classList.add('show');
       reveals[i].classList.add('animate__flipInX');
     }
     else{
      reveals[i].classList.add('dontShow');
    //   reveals[i].classList.remove('animate__fadeIn');
     }
   }
}

function reveal3(){
   var reveals = document.querySelectorAll('.reveal3');

   for(var i = 0; i < reveals.length; i++){
     var windowHeight = window.innerHeight;
     var revealTop = reveals[i].getBoundingClientRect().top;
     var revealpoint = 75;

     if(revealTop <  windowHeight - revealTop ){
       reveals[i].classList.remove('dontShow');
       reveals[i].classList.add('show');
       reveals[i].classList.add('animate__flipInY');
     }
     else{
      reveals[i].classList.add('dontShow');
    //   reveals[i].classList.remove('animate__fadeIn');
     }
   }
}


var counted = 0;
$(window).scroll(function() {

  var oTop = $('.cf-ourLegacy').offset().top - window.innerHeight;
  if (counted == 0 && $(window).scrollTop() > oTop) {
    $('.count').each(function() {
      var $this = $(this),
        countTo = $this.attr('data-target');
      $({
        countNum: $this.text()
      }).animate({
          countNum: countTo
        },

        {
          duration: 3000,
          easing: 'swing',
          step: function() {
            $this.text(Math.floor(this.countNum));
          },
          complete: function() {
            $this.text(this.countNum);
            //alert('finished');
          }

        });
    });
    counted = 1;
  }

});

var map;
AmCharts.ready( function() {
    map = new AmCharts.AmMap();
    map.panEventsEnabled = true;
    map.backgroundColor = "#666666";
    map.backgroundAlpha = 1;

    map.zoomControl.panControlEnabled = true;
    map.zoomControl.zoomControlEnabled = true;

    var dataProvider = {
        map: "indiaLow",
        getAreasFromMap: true
    };

    map.dataProvider = dataProvider;

    map.areasSettings = {
        autoZoom: false,
        color: "#CDCDCD",
        colorSolid: "#5EB7DE",
        selectedColor: "#5EB7DE",
        outlineColor: "#666666",
        rollOverColor: "#88CAE7",
        rollOverOutlineColor: "#FFFFFF",
        selectable: true
    };

    map.addListener( 'clickMapObject', function( event ) {
        // deselect the area by assigning all of the dataProvider as selected object
        map.selectedObject = map.dataProvider;

        // toggle showAsSelected
        event.mapObject.showAsSelected = !event.mapObject.showAsSelected;

        // bring it to an appropriate color
        map.returnInitialColor( event.mapObject );

        // let's build a list of currently selected states
        var states = [];
        for ( var i in map.dataProvider.areas ) {
            var area = map.dataProvider.areas[ i ];
            if ( area.showAsSelected ) {
                states.push( area.title );
            }
        }
    } );
    map.export = {
        enabled: true
    }

    map.write( "chartdiv" );
} );


</script>
