<%- include partials/header %>

<section id="safetyTips">
    <div class="container-fluid cf-safetyTips">
        <div class="row">
            <div class="col-md-12 safeBanner">
                <h1 class="safeBannerH1">Be Safe this Festive Season</h1>
            </div>
            <div class="col-md-12">
                <h1 class="safetyH1 mb-3">SAFETY TIPS</h1>
                <ul class="list-group">
                    <li class="list-group-item animate__animated animate__flipInX"><i class="bi bi-cone-striped coneIcon"></i> Children are allowed to ignite firecrackers only under adult supervision.</li>
                    <li class="list-group-item animate__animated animate__fadeInLeft"><i class="bi bi-cone-striped coneIcon"></i> Keep the firecrackers at one arm distance away from face while lighting.</li>
                    <li class="list-group-item animate__animated animate__fadeInRight"><i class="bi bi-cone-striped coneIcon"></i> Never try to relight or pickup that firecracker that doesn't ignite. Leave it or throw water on it.</li>
                    <li class="list-group-item animate__animated animate__flipInX"><i class="bi bi-cone-striped coneIcon"></i> Store the firecrackers in a dry and cool place.</li>
                    <li class="list-group-item animate__animated animate__fadeInLeft"><i class="bi bi-cone-striped coneIcon"></i> Always keep buckets of water near while bursting crackers incase of fire breakouts.</li>
                    <li class="list-group-item animate__animated animate__fadeInRight"><i class="bi bi-cone-striped coneIcon"></i> Light a firework one at a time.</li>
                    <li class="list-group-item animate__animated animate__flipInX"><i class="bi bi-cone-striped coneIcon"></i> Don't throw burning crackers on others.</li>
                    <li class="list-group-item animate__animated animate__fadeInLeft"><i class="bi bi-cone-striped coneIcon"></i> Never burst crackers placing inside a container.</li>
                    <li class="list-group-item animate__animated animate__fadeInRight"><i class="bi bi-cone-striped coneIcon"></i> Ignite fancy shot items at least 40mts away.</li>
                    <li class="list-group-item animate__animated animate__flipInX"><i class="bi bi-cone-striped coneIcon"></i> Don't burst sound firecrackers near hospitals and schools.</li>
                    <li class="list-group-item animate__animated animate__fadeInLeft"><i class="bi bi-cone-striped coneIcon"></i> Bursting crackers near petrol bulks and living zone is prohibited.</li>
                    <li class="list-group-item animate__animated animate__fadeInRight"><i class="bi bi-cone-striped coneIcon"></i> Put vehicles in a garage while bursting fireworks.</li>
                    <li class="list-group-item animate__animated animate__flipInX"><i class="bi bi-cone-striped coneIcon"></i> Don't put fireworks in your pocket.</li>
                    <li class="list-group-item animate__animated animate__fadeInLeft"><i class="bi bi-cone-striped coneIcon"></i> Choose to Wear cotton cloths, avoid long loose clothes while lighting fireworks.</li>
                    <li class="list-group-item animate__animated animate__fadeInRight"><i class="bi bi-cone-striped coneIcon"></i> Wear footwear while lighting fireworks.</li>
                    <li class="list-group-item animate__animated animate__flipInX"><i class="bi bi-cone-striped coneIcon"></i> Never experiment the crackers, or make your own fireworks.</li>
                  </ul>
            </div>
            <div class="col-md-12">
                <h2 class="safetyh2">Celebrate your festival with Ananda Fireworks</h2>
            </div>
        </div>
    </div>
</section>




<%- include partials/footer %>
