<%- include ../partials/header %>

<section id="groundFantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Celebration Pack</h1>
                <p style="text-align:center;" class="mb-3">
                    <a href="#15-20" class="pageP">15 - 20 Items</a> | 
                    <a href="#20-30"  class="pageP">20 - 30 Items</a> | 
                    <a href="#30-40" class="pageP">30 - 40 Items </a> | 
                    <a href="#40+" class="pageP">40+ Items</a>
                </p> 
            </div>
            <div class="col-md-12 row mb-3" id="15-20">
                <h2 class="categHeading mb-3"><span>15 - 20 Items</span></h2>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/1 gb-pinky.jpg" class="img-fluid" alt="">
                    <figcaption>Pinky</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/2 gb-pinky.jpg" class="img-fluid" alt="">
                    <figcaption>Kids</figcaption>
                </div>
            </div>
            <div class="col-md-12 row mb-3" id="20-30">
                <h2 class="categHeading mb-3"><span>20 - 30 Items</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/3 gb-jetix.jpg" class="img-fluid" alt="">
                    <figcaption>Jetix</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/4 gb-jetix.jpg" class="img-fluid" alt="">
                    <figcaption>Children</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/5 gb-pokemon.jpg" class="img-fluid" alt="">
                    <figcaption>Pokemon</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/6 gb-youth.jpg" class="img-fluid" alt="">
                    <figcaption>Youth</figcaption>
                </div>
            </div>
            <div class="col-md-12 row mb-3" id="30-40">
                <h2 class="categHeading mb-3"><span>30 - 40 Items</span></h2>

                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/7 gb-master.jpg" class="img-fluid" alt="">
                    <figcaption>Master</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/8 gb-astro.jpg" class="img-fluid" alt="">
                    <figcaption>Astro</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/9 gb-ben10.jpg" class="img-fluid" alt="">
                    <figcaption>Ben 10</figcaption>
                </div>
            </div>
            <div class="col-md-12 row mb-3" id="40+">
                <h2 class="categHeading mb-3"><span>40+ Items</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/10 vip.jpg" class="img-fluid" alt="">
                    <figcaption>VIP</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/celebrationPack/11 royal.jpg" class="img-fluid" alt="">
                    <figcaption>Royal</figcaption>
                </div>
                
            </div>
            
        </div>
    </div>
</section>



<%- include ../partials/footer %>