<%- include ../partials/header %>

<section id="groundfantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Chakkars</h1>
                <!-- <p style="text-align:center;" class="mb-3"><a href="#chakkars" class="pageP">Chakkars</a> | <a href="#flowerPots"  class="pageP">Flower Pots</a> | <a href="#twinklingStar" class="pageP">Twinkling Star</a></p> -->
            </div>
            <div class="col-md-12 row mb-3" id="chakkars">
                <h2 class="categHeading mb-3"><span>Chakkars</span></h2>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Chakkar/GC Big 10.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Ground Chakkar</b> Big 10
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Chakkar/GC Big 25.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Ground Chakkar</b> Big 25
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/Chakkar/gcspecial.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Ground Chakkar</b> Special
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/Chakkar/gcdeluxe.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Ground Chakkar</b> Deluxe
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

            </div>
        </div>
    </div>
</section>


<%- include ../partials/footer %>
