<%- include ../partials/header %>

<section id="groundFantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Comets</h1>
                <p style="text-align:center;" class="mb-3">
                    <a href="#2comets" class="pageP">2" Comets</a> | 
                    <a href="#2.25comets" class="pageP">2¼" Comets</a> | 
                    <a href="#2.75comets" class="pageP">2¾" Comets</a> | 
                    <a href="#3comets" class="pageP">3" Comets</a> | 
                    <a href="#4comets" class="pageP">4" Comets</a> 
                </p> 
            </div>
            <div class="col-md-12 row mb-3" id="2comets">
                <h2 class="categHeading mb-3"><span>2" Comets</span></h2>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/1 inside-out.jpg" class="img-fluid" alt="">
                    <figcaption>Inside Out</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/2 turbo.jpg" class="img-fluid" alt="">
                    <figcaption>Turbo</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/3 moana.jpg" class="img-fluid" alt="">
                    <figcaption>Moana</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/4 minions.jpg" class="img-fluid" alt="">
                    <figcaption>Minions</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/5 trolls.jpg" class="img-fluid" alt="">
                    <figcaption>Trolls</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/6 coco.jpg" class="img-fluid" alt="">
                    <figcaption>Coco</figcaption>
                </div>
                
            </div>

            <div class="col-md-12 row mb-3" id="2.25comets">
                <h2 class="categHeading mb-3"><span>2¼" Comets</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/7 aerial-echo.jpg" class="img-fluid" alt="">
                    <figcaption>Aerial Echo</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/8 green-falls.jpg" class="img-fluid" alt="">
                    <figcaption>Green Falls</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/9 silver-falls.jpg" class="img-fluid" alt="">
                    <figcaption>Silver Falls</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/10 palm-tree.jpg" class="img-fluid" alt="">
                    <figcaption>Palm Tree</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/11 nayagara-falls.jpg" class="img-fluid" alt="">
                    <figcaption>Nayagra Falls</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/12 ice-age.jpg" class="img-fluid" alt="">
                    <figcaption>Ice Age</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/13 tangled.jpg" class="img-fluid" alt="">
                    <figcaption>Tangled</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/14 bolt.jpg" class="img-fluid" alt="">
                    <figcaption>Bolt</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/15 the-smurfs.jpg" class="img-fluid" alt="">
                    <figcaption>The Smurfs</figcaption>
                </div>
                
            </div>

            <div class="col-md-12 row mb-3" id="2.75comets">
                <h2 class="categHeading mb-3"><span>2¾" Comets</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/16 rio.jpg" class="img-fluid" alt="">
                    <figcaption>Rio</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/17 cars.jpg" class="img-fluid" alt="">
                    <figcaption>Cars</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/18 shrek.jpg" class="img-fluid" alt="">
                    <figcaption>Shrek</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/19 tarzan.jpg" class="img-fluid" alt="">
                    <figcaption>Tarzan</figcaption>
                </div>

            </div>

            <div class="col-md-12 row mb-3" id="3comets">
                <h2 class="categHeading mb-3"><span>3" Comets</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/20 green-leaf.jpg" class="img-fluid" alt="">
                    <figcaption>Green Leaf</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/21 red-velvet.jpg" class="img-fluid" alt="">
                    <figcaption>Red Velvet</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/22 silver-spring.jpg" class="img-fluid" alt="">
                    <figcaption>Silver Spring</figcaption>
                </div>  
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/23 gold-coins.jpg" class="img-fluid" alt="">
                    <figcaption>Gold Coins</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/24 pink-diamonds.jpg" class="img-fluid" alt="">
                    <figcaption>Pink Diamonds</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/25 blue-lagoon.jpg" class="img-fluid" alt="">
                    <figcaption>Blue Lagoon</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/26 orange-villa.jpg" class="img-fluid" alt="">
                    <figcaption>Orange Villa</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/27 aqua-splash.jpg" class="img-fluid" alt="">
                    <figcaption>Aqua Splash</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/28 titans.jpg" class="img-fluid" alt="">
                    <figcaption>Titans</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/29 fusion.jpg" class="img-fluid" alt="">
                    <figcaption>Fusion</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/30 hot-spot.jpg" class="img-fluid" alt="">
                    <figcaption>Hot Spot</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/31 star-dust.jpg" class="img-fluid" alt="">
                    <figcaption>Star Dust</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/32 hotmail.jpg" class="img-fluid" alt="">
                    <figcaption>Hot Mail</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/33 web.jpg" class="img-fluid" alt="">
                    <figcaption>Web</figcaption>
                </div>
                
            </div>

            <div class="col-md-12 row mb-3" id="4comets">
                <h2 class="categHeading mb-3"><span>4" Comets</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/34 mtv.jpg" class="img-fluid" alt="">
                    <figcaption>MTV</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/35 fashion-tv.jpg" class="img-fluid" alt="">
                    <figcaption>Fashion TV</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/36 cartoon-network.jpg" class="img-fluid" alt="">
                    <figcaption>Cartoon Network</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/37 axn.jpg" class="img-fluid" alt="">
                    <figcaption>AXN</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/38 set-max.jpg" class="img-fluid" alt="">
                    <figcaption>Set Max</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/39 espn.jpg" class="img-fluid" alt="">
                    <figcaption>ESPN</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/40 tron.jpg" class="img-fluid" alt="">
                    <figcaption>Tron</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/41 star-trek.jpg" class="img-fluid" alt="">
                    <figcaption>Star Trek</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/42 max-steel.jpg" class="img-fluid" alt="">
                    <figcaption>Max Steel</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/43 civil-war.jpg" class="img-fluid" alt="">
                    <figcaption>Civil War</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/44 green-hornet.jpg" class="img-fluid" alt="">
                    <figcaption>Green Hornet</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/45 million.jpg" class="img-fluid" alt="">
                    <figcaption>45 Million</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/46 big-hero.jpg" class="img-fluid" alt="">
                    <figcaption>Big Hero</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/comets/47 prime-time.jpg" class="img-fluid" alt="">
                    <figcaption>Prime Time</figcaption>
                </div>                 
                
            </div>

        </div>
    </div>
</section>



<%- include ../partials/footer %>