<%- include ../partials/header %>

<section id="groundfantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Flower Pots</h1>
                <!-- <p style="text-align:center;" class="mb-3"><a href="#chakkars" class="pageP">Chakkars</a> | <a href="#flowerPots"  class="pageP">Flower Pots</a> | <a href="#twinklingStar" class="pageP">Twinkling Star</a></p> -->
            </div>
            <div class="col-md-12 row mb-3" id="chakkars">
                <h2 class="categHeading mb-3"><span>Flower Pots</span></h2>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Colourkoti Deluxe 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Color Koti</b>   Deluxe
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Colourkoti Deluxe 2.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Color Koti</b>   Deluxe
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Colourkoti Deluxe 3.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Color Koti</b>   Deluxe
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/FP Asoka 2 in 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Flower Pots</b>   Ashoka 2-in-1
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/FP Asoka.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Flower Pots</b>   Ashoka
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/FP Big 3 in 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Flower Pots</b>   Big 3-in-1
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/FP Big.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Flower Pots</b>   Big
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/FP Special 2 in 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Flower Pots</b>   Special 2-in-1
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/FP Special 3 in 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Flower Pots</b>   Special 3-in-1
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/FP Special.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Flower Pots</b>   Special
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Green Colour Koti 5.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Green Colour Koti 5</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Green FP Asoka.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Green Flower Pots</b> Ashoka
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Green FP Big.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Green Flower Pots</b> Big
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Green FP Special.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Green Flower Pots</b> Special
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Red FP Asoka.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Red Flower Pots</b> Ashoka
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Red FP Big.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Red Flower Pots</b> Big
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Flower Pots/Red FP Special.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Red Flower Pots</b> Special
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>


<%- include ../partials/footer %>
