<%- include ../partials/header %>

<section id="groundfantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Ground Fantasy</h1>
                <p style="text-align:center;" class="mb-3"><a href="#chakkars" class="pageP">Chakkars</a> | <a href="#flowerPots"  class="pageP">Flower Pots</a> | <a href="#twinklingStar" class="pageP">Twinkling Star</a></p>
            </div>
            <div class="col-md-12 row mb-3" id="chakkars">
                <h2 class="categHeading mb-3"><span>Chakkars</span></h2>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a1 chakkar-big-10-pcs.jpg" class="img-fluid" alt="">
                    <figcaption>Ground Chakkar Big (10 Pcs)</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a2 chakkar-big-25-pcs.jpg" class="img-fluid" alt="">
                    <figcaption>Ground Chakkar Big (25 Pcs)</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a3 chakkar-special.jpg" class="img-fluid" alt="">
                    <figcaption>Ground Chakkar Special</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a4 chakkar-deluxe.jpg" class="img-fluid" alt="">
                    <figcaption>Ground Chakkar Deluxe</figcaption>
                </div>
            </div>
            <div class="col-md-12 row mb-3" id="flowerPots">
                <h2 class="categHeading mb-3"><span>Flower Pots</span></h2>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a5 flower-pots-big-10-pcs.jpg" class="img-fluid" alt="">
                    <figcaption>Flower Pots Big (10 Pcs)</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a6 flower-pots-special.jpg" class="img-fluid" alt="">
                    <figcaption>Flower Pots Special</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a7 flower-pots-asoka.jpg" class="img-fluid" alt="">
                    <figcaption>Flower Pots Ashoka</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a8 green-flower-pots-big.jpg" class="img-fluid" alt="">
                    <figcaption>Green Flower Pots Big</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a9 green-flower-pots-special.jpg" class="img-fluid" alt="">
                    <figcaption>Green Flower Pots Special</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a10 green-flower-pots-asoka.jpg" class="img-fluid" alt="">
                    <figcaption>Green Flower Pots Ashoka</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a11 colorkoti-deluxe.jpg" class="img-fluid" alt="">
                    <figcaption>Color Koti Deluxe</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a12 green-colour-koti-5-pcs.jpg" class="img-fluid" alt="">
                    <figcaption>Green Color Koti (5 Pcs)</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a13 red-flower-pots-big.jpg" class="img-fluid" alt="">
                    <figcaption>Red Flower Pots Big</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a14 red-flower-pots-special.jpg" class="img-fluid" alt="">
                    <figcaption>Red Flower Pots Special</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a15 red-flower-pots-asoka.jpg" class="img-fluid" alt="">
                    <figcaption>Red Flower Pots Ashoka</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a16 2-in-1-flower-pots-special.jpg" class="img-fluid" alt="">
                    <figcaption>2 - in - 1 Flower Pots Special</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a17 3-in-1-flower-pots-big.jpg" class="img-fluid" alt="">
                    <figcaption>3 - in - 1 Flower Pots Big</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a18 3-in-1-flower-pots-special.jpg" class="img-fluid" alt="">
                    <figcaption>3 - in - 1 Flower Pots Special</figcaption>
                </div>
            </div>
            <div class="col-md-12 row mb-3" id="twinklingStar">
                <h2 class="categHeading mb-3"><span>Twinkling Star</span></h2>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a19 twinkling-star.jpg" class="img-fluid" alt="">
                    <figcaption>Twinkling Star</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/groundfantasy/a20 twinkling-star-deluxe.jpg" class="img-fluid" alt="">
                    <figcaption>Twinkling Star Deluxe</figcaption>
                </div>
            </div>
        </div>
    </div>
</section>



<%- include ../partials/footer %>