<%- include ../partials/header %>

<section id="groundfantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Kids Zone</h1>
                <!-- <p style="text-align:center;" class="mb-3"><a href="#chakkars" class="pageP">Chakkars</a> | <a href="#flowerPots"  class="pageP">Flower Pots</a> | <a href="#twinklingStar" class="pageP">Twinkling Star</a></p> -->
            </div>
            <div class="col-md-12 row mb-3" id="chakkars">
                <h2 class="categHeading mb-3"><span>Kids Zone</span></h2>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/kidsZone/emoji.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Emoji</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/kidsZone/fruitninja.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Fruit Ninja</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/kidsZone/gogo.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Go! Go!</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                            <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/kidsZone/merrygoround.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                                <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                    </span>
                            </div>
                            <div class="card-body">
                            <div class="product-desc">
                                <span class="product-title">
                                <b>Merry Go Round</b>                                  
                                </span>
                            
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                        <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/kidsZone/rollercoaster.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                            <div class="product-desc">
                            <span class="product-title">
                                <b>Roller Coaster</b>
                                    
                            </span>
                            
                            </div>
                        
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                            <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/kidsZone/smiley.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                                <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                    </span>
                            </div>
                            <div class="card-body">
                            <div class="product-desc">
                                <span class="product-title">
                                <b>Smiley</b>                                  
                                </span>
                            
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                        <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/kidsZone/star gun.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                            <div class="product-desc">
                            <span class="product-title">
                                <b>Star Gun</b>
                                    
                            </span>
                            
                            </div>
                        
                        </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                            <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/kidsZone/top gun.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                                <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                    </span>
                            </div>
                            <div class="card-body">
                            <div class="product-desc">
                                <span class="product-title">
                                <b>Top Gun</b>                                  
                                </span>
                            
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<%- include ../partials/footer %>
