<%- include ../partials/header %>

<section id="groundfantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">New Elite Series</h1>
                <!-- <p style="text-align:center;" class="mb-3"><a href="#chakkars" class="pageP">Chakkars</a> | <a href="#flowerPots"  class="pageP">Flower Pots</a> | <a href="#twinklingStar" class="pageP">Twinkling Star</a></p> -->
            </div>
            <div class="col-md-12 row mb-3" id="chakkars">
                <h2 class="categHeading mb-3"><span>New Elite Series</span></h2>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/7 Shots.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>7 Shots</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/24 Carat Gold.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>24 Carat Gold</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Alice.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Alice</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Apple.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Apple</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Banana.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Banana</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Bazooka.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Bazooka</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Bliss.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Bliss</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Cherry.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Cherry</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Cinderella.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Cinderella</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Classic.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Classic</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Disco.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Disco</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Electro.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Electro</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Falooda.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Falooda</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Feathers.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Feathers</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Fun Wheel.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Fun Wheel</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Gold Mines.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Gold Mines</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Grapes.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Grapes</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Hot Wheel.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Hot Wheel</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Pop Corn.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Pop Corn</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Rap.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Rap</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Rock Star.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Rock Star</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Scoot.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Scoot</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Selfie Sticks.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Selfie Sticks</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Silver Mines.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Silver Mines</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Sizzler.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Sizzler</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Smoothie.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Smoothie</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Snow Flakes.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Snow Flakes</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Spike.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Spike</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Sprinkles.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Sprinkles</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Tango.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Tango</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Trixx.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Trixx</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Western.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Western</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/New Elite Series/Yolo.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Yolo</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div> 

                <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/New Elite Series/blackcurrant.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Black Currant</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/New Elite Series/hip hop.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Hip Hop</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mr-btn-45" id="productCard">
              <!-- .... -->
              <div class="container">
                  <div class="card">
                    <div class="card-head">
                      <!-- <img src="" alt="logo" class="card-logo"> -->
                      <img src="/images/New Elite Series/incredibles.png" alt="Product" class="product-img">
                      <!-- <div class="product-detail">
                        <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                      </div> -->
                      <span class="back-text">
                              ANANDA
                            </span>
                    </div>
                    <div class="card-body">
                      <div class="product-desc">
                        <span class="product-title">
                          <b>Incredibles</b>
                              
                        </span>
                       
                      </div>
                    
                    </div>
                  </div>
              </div>
          </div>

          <div class="col-md-3 mr-btn-45" id="productCard">
            <!-- .... -->
            <div class="container">
                <div class="card">
                  <div class="card-head1">
                    <!-- <img src="" alt="logo" class="card-logo"> -->
                    <img src="/images/New Elite Series/jazz.png" alt="Product" class="product-img">
                    <!-- <div class="product-detail">
                      <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                    </div> -->
                    <span class="back-text">
                            ANANDA
                          </span>
                  </div>
                  <div class="card-body">
                    <div class="product-desc">
                      <span class="product-title">
                        <b>Jazz</b>
                            
                      </span>
                     
                    </div>
                  
                  </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mr-btn-45" id="productCard">
          <!-- .... -->
          <div class="container">
              <div class="card">
                <div class="card-head">
                  <!-- <img src="" alt="logo" class="card-logo"> -->
                  <img src="/images/New Elite Series/lychee.png" alt="Product" class="product-img">
                  <!-- <div class="product-detail">
                    <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                  </div> -->
                  <span class="back-text">
                          ANANDA
                        </span>
                </div>
                <div class="card-body">
                  <div class="product-desc">
                    <span class="product-title">
                      <b>Lychee</b>
                          
                    </span>
                   
                  </div>
                
                </div>
              </div>
          </div>
      </div>

      <div class="col-md-3 mr-btn-45" id="productCard">
        <!-- .... -->
        <div class="container">
            <div class="card">
              <div class="card-head1">
                <!-- <img src="" alt="logo" class="card-logo"> -->
                <img src="/images/New Elite Series/monsters.png" alt="Product" class="product-img">
                <!-- <div class="product-detail">
                  <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                </div> -->
                <span class="back-text">
                        ANANDA
                      </span>
              </div>
              <div class="card-body">
                <div class="product-desc">
                  <span class="product-title">
                    <b>Monsters</b>
                        
                  </span>
                 
                </div>
              
              </div>
            </div>
        </div>
    </div>
                
    <div class="col-md-3 mr-btn-45" id="productCard">
      <!-- .... -->
      <div class="container">
          <div class="card">
            <div class="card-head">
              <!-- <img src="" alt="logo" class="card-logo"> -->
              <img src="/images/New Elite Series/pop.png" alt="Product" class="product-img">
              <!-- <div class="product-detail">
                <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
              </div> -->
              <span class="back-text">
                      ANANDA
                    </span>
            </div>
            <div class="card-body">
              <div class="product-desc">
                <span class="product-title">
                  <b>Pop</b>
                      
                </span>
               
              </div>
            
            </div>
          </div>
      </div>
  </div>

  <div class="col-md-3 mr-btn-45" id="productCard">
    <!-- .... -->
    <div class="container">
        <div class="card">
          <div class="card-head1">
            <!-- <img src="" alt="logo" class="card-logo"> -->
            <img src="/images/New Elite Series/rock.png" alt="Product" class="product-img">
            <!-- <div class="product-detail">
              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
            </div> -->
            <span class="back-text">
                    ANANDA
                  </span>
          </div>
          <div class="card-body">
            <div class="product-desc">
              <span class="product-title">
                <b>Rock</b>
                    
              </span>
             
            </div>
          
          </div>
        </div>
    </div>
</div>

<div class="col-md-3 mr-btn-45" id="productCard">
  <!-- .... -->
  <div class="container">
      <div class="card">
        <div class="card-head">
          <!-- <img src="" alt="logo" class="card-logo"> -->
          <img src="/images/New Elite Series/singpop.png" alt="Product" class="product-img">
          <!-- <div class="product-detail">
            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
          </div> -->
          <span class="back-text">
                  ANANDA
                </span>
        </div>
        <div class="card-body">
          <div class="product-desc">
            <span class="product-title">
              <b>Sing Pop</b>
                  
            </span>
           
          </div>
        
        </div>
      </div>
  </div>
</div>

<div class="col-md-3 mr-btn-45" id="productCard">
  <!-- .... -->
  <div class="container">
      <div class="card">
        <div class="card-head1">
          <!-- <img src="" alt="logo" class="card-logo"> -->
          <img src="/images/New Elite Series/strawberry.png" alt="Product" class="product-img">
          <!-- <div class="product-detail">
            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
          </div> -->
          <span class="back-text">
                  ANANDA
                </span>
        </div>
        <div class="card-body">
          <div class="product-desc">
            <span class="product-title">
              <b>Strawberry</b>
                  
            </span>
           
          </div>
        
        </div>
      </div>
  </div>
</div>

<div class="col-md-3 mr-btn-45" id="productCard">
  <!-- .... -->
  <div class="container">
      <div class="card">
        <div class="card-head">
          <!-- <img src="" alt="logo" class="card-logo"> -->
          <img src="/images/New Elite Series/sunrise.png" alt="Product" class="product-img">
          <!-- <div class="product-detail">
            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
          </div> -->
          <span class="back-text">
                  ANANDA
                </span>
        </div>
        <div class="card-body">
          <div class="product-desc">
            <span class="product-title">
              <b>Sun Rise</b>
                  
            </span>
           
          </div>
        
        </div>
      </div>
  </div>
</div>

<div class="col-md-3 mr-btn-45" id="productCard">
  <!-- .... -->
  <div class="container">
      <div class="card">
        <div class="card-head1">
          <!-- <img src="" alt="logo" class="card-logo"> -->
          <img src="/images/New Elite Series/watermelon.png" alt="Product" class="product-img">
          <!-- <div class="product-detail">
            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
          </div> -->
          <span class="back-text">
                  ANANDA
                </span>
        </div>
        <div class="card-body">
          <div class="product-desc">
            <span class="product-title">
              <b>Water Melon</b>
                  
            </span>
           
          </div>
        
        </div>
      </div>
  </div>
</div>





            </div>
        </div>
    </div>
</section>


<%- include ../partials/footer %>
