<%- include ../partials/header %>

<section id="groundFantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Night Novelties</h1>
                <p style="text-align:center;" class="mb-3">
                    <a href="#fountain" class="pageP">Fountain</a> | 
                    <a href="#wheel" class="pageP">Wheel</a> | 
                    <a href="#peacock" class="pageP">Peacock</a> | 
                    <a href="#flowerBomb" class="pageP">Flower Bomb</a> | 
                    <a href="#stone" class="pageP">Stone</a> |
                    <a href="#pencil" class="pageP">Pencil</a>
                </p> 
            </div>
            <div class="col-md-12 row mb-3" id="fountain">
                <h2 class="categHeading mb-3"><span>Fountain</span></h2>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/1 ganga-jamuna.jpg" class="img-fluid" alt="">
                    <figcaption>Ganga Jamuna</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/2 flower-atom-bomb.jpg" class="img-fluid" alt="">
                    <figcaption>Flower Atom Bomb</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/3 magic-crackle.jpg" class="img-fluid" alt="">
                    <figcaption>Magic Crackle</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/4 lays.jpg" class="img-fluid" alt="">
                    <figcaption>Lays</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/5 yahoo.jpg" class="img-fluid" alt="">
                    <figcaption>Yahoo</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/6 pearl-drops.jpg" class="img-fluid" alt="">
                    <figcaption>Pearl Drops</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/7 crackling-drops.jpg" class="img-fluid" alt="">
                    <figcaption>Crackling Drops</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/8 tom-&-jerry.jpg" class="img-fluid" alt="">
                    <figcaption>Tom & Jerry</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/9 hulk.jpg" class="img-fluid" alt="">
                    <figcaption>Hulk</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/10 skype.jpg" class="img-fluid" alt="">
                    <figcaption>Skype</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/11 twitter.jpg" class="img-fluid" alt="">
                    <figcaption>Twitter</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/12 angry-birds.jpg" class="img-fluid" alt="">
                    <figcaption>Angry Birds</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/13 facebook.jpg" class="img-fluid" alt="">
                    <figcaption>Facebook</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/14 hi5.jpg" class="img-fluid" alt="">
                    <figcaption>Hi5</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/15 flickr.jpg" class="img-fluid" alt="">
                    <figcaption>Flickr</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/16 bebo.jpg" class="img-fluid" alt="">
                    <figcaption>Bebo</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/17 youtube.jpg" class="img-fluid" alt="">
                    <figcaption>Youtube</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/18 apple.jpg" class="img-fluid" alt="">
                    <figcaption>Apple</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/19 banana.jpg" class="img-fluid" alt="">
                    <figcaption>Banana</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/20 cherry.jpg" class="img-fluid" alt="">
                    <figcaption>Cherry</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/21 grapes.jpg" class="img-fluid" alt="">
                    <figcaption>Grapes</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/22 cinderella.jpg" class="img-fluid" alt="">
                    <figcaption>Cindrella</figcaption>
                </div>  
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/23 alice.jpg" class="img-fluid" alt="">
                    <figcaption>Alice</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/24 western.jpg" class="img-fluid" alt="">
                    <figcaption>Western</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/25 rap.jpg" class="img-fluid" alt="">
                    <figcaption>Rap</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/26 disco.jpg" class="img-fluid" alt="">
                    <figcaption>Disco</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/27 classic.jpg" class="img-fluid" alt="">
                    <figcaption>Classic</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/28 electro.jpg" class="img-fluid" alt="">
                    <figcaption>Electro</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/29 scoot.jpg" class="img-fluid" alt="">
                    <figcaption>Scoot</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/30 smoothie.jpg" class="img-fluid" alt="">
                    <figcaption>Smoothie</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/31 bazooka.jpg" class="img-fluid" alt="">
                    <figcaption>Bazooka</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/32 gold-mines.jpg" class="img-fluid" alt="">
                    <figcaption>Gold Mines</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/33 silver-mines.jpg" class="img-fluid" alt="">
                    <figcaption>Silver Mines</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/34 7-shot.jpg" class="img-fluid" alt="">
                    <figcaption>7 Shot</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/35 tango.jpg" class="img-fluid" alt="">
                    <figcaption>Tango</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/36 bliss.jpg" class="img-fluid" alt="">
                    <figcaption>Bliss</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/37 yolo.jpg" class="img-fluid" alt="">
                    <figcaption>Yolo</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/38 sprinkles.jpg" class="img-fluid" alt="">
                    <figcaption>Sprinkles</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/39 falooda.jpg" class="img-fluid" alt="">
                    <figcaption>Falooda</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/40 selfie-stick.jpg" class="img-fluid" alt="">
                    <figcaption>Selfie Stick</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/41 snow-flakes.jpg" class="img-fluid" alt="">
                    <figcaption>Snow Flakes</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/42 sizzler.jpg" class="img-fluid" alt="">
                    <figcaption>Sizzler</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/43 popcorn.jpg" class="img-fluid" alt="">
                    <figcaption>Pop Corn</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/44 feathers.jpg" class="img-fluid" alt="">
                    <figcaption>Feathers</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/45 24-carat-gold.jpg" class="img-fluid" alt="">
                    <figcaption>24 Carat Gold</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/46 rock-star.jpg" class="img-fluid" alt="">
                    <figcaption>Rock Star</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/47 spike.jpg" class="img-fluid" alt="">
                    <figcaption>Spike</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/48 trixx.jpg" class="img-fluid" alt="">
                    <figcaption>Trixx</figcaption>
                </div>
            </div>

            <div class="col-md-12 row mb-3" id="wheel">
                <h2 class="categHeading mb-3"><span>Wheel</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/49 moon-wheel-gold.jpg" class="img-fluid" alt="">
                    <figcaption>Moon Wheel Gold</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/50 honda-wheel.jpg" class="img-fluid" alt="">
                    <figcaption>Honda Wheel</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/51 classic-wheel.jpg" class="img-fluid" alt="">
                    <figcaption>Classic Wheel</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/52 fun-wheel.jpg" class="img-fluid" alt="">
                    <figcaption>Fun Wheel</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/53 hot-wheel.jpg" class="img-fluid" alt="">
                    <figcaption>Hot Wheel</figcaption>
                </div>
                
            </div>

            <div class="col-md-12 row mb-3" id="peacock">
                <h2 class="categHeading mb-3"><span>Peacock</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/54 silver-peacock.jpg" class="img-fluid" alt="">
                    <figcaption>Silver Peacock</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/55 green-peacock.jpg" class="img-fluid" alt="">
                    <figcaption>Green Peacock</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/56 asrafi-peacock.jpg" class="img-fluid" alt="">
                    <figcaption>Asrafi Peacock</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/57 rainbow-peacock.jpg" class="img-fluid" alt="">
                    <figcaption>Rainbow Peacock</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/58 special-peacock.jpg" class="img-fluid" alt="">
                    <figcaption>Special Peacock</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/59 colour-changing-peacock.jpg" class="img-fluid" alt="">
                    <figcaption>Color Changing Peacock</figcaption>
                </div>

            </div>

            <div class="col-md-12 row mb-3" id="flowerBomb">
                <h2 class="categHeading mb-3"><span>Flower Bomb</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/60 flower-atom-bomb.jpg" class="img-fluid" alt="">
                    <figcaption>Flower Atom Bomb</figcaption>
                </div>
                
            </div>

            <div class="col-md-12 row mb-3" id="stone">
                <h2 class="categHeading mb-3"><span>Stone</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/61 electric-stone.jpg" class="img-fluid" alt="">
                    <figcaption>Electric Stone</figcaption>
                </div>
                  
                
            </div>

            <div class="col-md-12 row mb-3" id="pencil">
                <h2 class="categHeading mb-3"><span>Pencil</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/62 iron-man.jpg" class="img-fluid" alt="">
                    <figcaption>Iron Man</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/63 super-man.jpg" class="img-fluid" alt="">
                    <figcaption>Super Man</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/nightNovelties/64 flash.jpg" class="img-fluid" alt="">
                    <figcaption>Flash</figcaption>
                </div>
                  
                
            </div>

        </div>
    </div>
</section>



<%- include ../partials/footer %>