<%- include ../partials/header %>

<section id="groundFantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Sky Shootups</h1>
                <!-- <p style="text-align:center;" class="mb-3"><a href="#multishops10-25" class="pageP">MultiShots 10-25</a> | <a href="#multishops25-100"  class="pageP">MultiShots 25-100</a> | <a href="#multishops100+" class="pageP">MultiShots 100+</a></p> -->
            </div>
            <div class="col-md-12 row mb-3" id="2.25comets">
                <h2 class="categHeading mb-3"><span>2¼" Comets</span></h2>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.25/Aerial Echo.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Aerial Echo</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.25/Green Falls.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Green Falls</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.25/Nayagara Falls.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Nayagara Falls</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.25/Palm Tree.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Palm Tree</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.25/Silver Falls.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Silver Falls</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/2.25/silver queen.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>silver queen</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>
               
            </div>

            <div class="col-md-12 row mb-3" id="2.25comets3pcs">
                <h2 class="categHeading mb-3"><span>2¼" Comets - 3 Pcs</span></h2>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.25-3 pcs/Bolt.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Bolt</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.25-3 pcs/Ice Age.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Ice Age</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.25-3 pcs/Tangled.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Tangled</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.25-3 pcs/The Smurfs.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>The Smurfs</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-md-12 row mb-3" id="2.75-3pcs">
                <h2 class="categHeading mb-3"><span>2¾" Comets - 3 Pcs</span></h2>
               
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.75-3pcs/Cars.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Cars</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.75-3pcs/Rio.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Rio</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.75-3pcs/Sherk.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Sherk</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/SkyShots/2.75-3pcs/Tarzan.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Tarzan</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 row mb-3" id="2-3pcs">
              <h2 class="categHeading mb-3"><span>2" Comets - 3 Pcs</span></h2>
             
              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/2-3pcs/Coco.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Coco</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/2-3pcs/Inside Out.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Inside Out</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/2-3pcs/Minions.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Minions</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/2-3pcs/Moana.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Moana</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/2-3pcs/Trolls.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Trolls</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/2-3pcs/Turbo.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Turbo</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
            </div>

            </div>

            <div class="col-md-12 row mb-3" id="3">
              <h2 class="categHeading mb-3"><span>3" Comets</span></h2>
             
              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/3/Aqua Splash.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Aqua Splash</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/3/Blue Lagoon.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Blue Lagoon</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/3/Gold Coins.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Gold Coins</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/3/Green Leaf.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Green Leaf</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3/Orange Villa.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Orange Villa</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3/Pink Diamonds.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Pink Diamonds</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3/Red Velvet.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Red Velvet</b>
                                
                          </span>
                        
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3/Silver Spring.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Silver Spring</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3/zigzag.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Zig Zag</b>
                                
                          </span>
                        
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3/blackndwhite.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Black & White</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3/jacknjones.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Jack & Jones</b>
                                
                          </span>
                        
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3/rocknroll.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Rock & Roll</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3/saltnpepper.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Salt & Pepper</b>
                                
                          </span>
                        
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

            </div>

            <div class="col-md-12 row mb-3" id="3-2pcs">
              <h2 class="categHeading mb-3"><span>3" Comets - 2 Pcs</span></h2>
             
              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/3-2pcs/Fusion.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Fusion</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/3-2pcs/Hot Spot.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Hot Spot</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/3-2pcs/Hotmail.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Hotmail</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/3-2pcs/Star Dust.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Star Dust</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3-2pcs/Titans.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Titans</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3-2pcs/Web.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Web</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3-2pcs/captain america.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Captain America</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3-2pcs/spider man.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Spider Man</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/3-2pcs/thanos.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Thanos</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

            </div>

            <div class="col-md-12 row mb-3" id="4">
              <h2 class="categHeading mb-3"><span>4" Comets</span></h2>
             
              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/4/AXN.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>AXN</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/4/Cartoon Network.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Cartoon Network</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/4/ESPN.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>ESPN</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/4/Fashion TV.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Fashion TV</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/4/M TV.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>M TV</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/4/Set Max.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Set Max</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

            </div>

            <div class="col-md-12 row mb-3" id="4-2pcs">
              <h2 class="categHeading mb-3"><span>4" Comets - 2 Pcs</span></h2>
             
              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/4-2pcs/Big Hero.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Big Hero</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/4-2pcs/Civil War.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Civil War</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head1">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/4-2pcs/Green Hornet.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Green Hornet</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                  <!-- .... -->
                  <div class="container">
                      <div class="card">
                        <div class="card-head">
                          <!-- <img src="" alt="logo" class="card-logo"> -->
                          <img src="/images/SkyShots/4-2pcs/Max Steel.png" alt="Product" class="product-img">
                          <!-- <div class="product-detail">
                            <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                          </div> -->
                          <span class="back-text">
                                  ANANDA
                                </span>
                        </div>
                        <div class="card-body">
                          <div class="product-desc">
                            <span class="product-title">
                              <b>Max Steel</b>
                                  
                            </span>
                           
                          </div>
                        
                        </div>
                      </div>
                  </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/4-2pcs/Million.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Million</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/4-2pcs/Prime Time.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Prime Time</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head1">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/4-2pcs/Star Trek.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Star Trek</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

              <div class="col-md-3 mr-btn-45" id="productCard">
                <!-- .... -->
                <div class="container">
                    <div class="card">
                      <div class="card-head">
                        <!-- <img src="" alt="logo" class="card-logo"> -->
                        <img src="/images/SkyShots/4-2pcs/Tron.png" alt="Product" class="product-img">
                        <!-- <div class="product-detail">
                          <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                        </div> -->
                        <span class="back-text">
                                ANANDA
                              </span>
                      </div>
                      <div class="card-body">
                        <div class="product-desc">
                          <span class="product-title">
                            <b>Tron</b>
                                
                          </span>
                         
                        </div>
                      
                      </div>
                    </div>
                </div>
              </div>

            </div>


        </div>
    </div>
</section>



<%- include ../partials/footer %>