<%- include ../partials/header %>

<section id="groundFantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Sounds & Shots</h1>
                <p style="text-align:center;" class="mb-3">
                    <a href="#bijili" class="pageP">Bijili</a> | <a href="#chorsa"  class="pageP">Chorsa</a> | <a href="#wala" class="pageP">Wala</a> | <a href="#lakshmi" class="pageP">Lakshmi</a> | <a href="#bomb" class="pageP">Bomb</a></p> 
            </div>
            <div class="col-md-12 row mb-3" id="bijili">
                <h2 class="categHeading mb-3"><span>Bijili</span></h2>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/1 bijili-crackers.jpg" class="img-fluid" alt="">
                    <figcaption>Bijili Red 100pcs</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/2 chorsa-bijili-stripped-50-pcs.jpg" class="img-fluid" alt="">
                    <figcaption>Bijili Striped 100pcs</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/3 chorsa-bijili-stripped-gold.jpg" class="img-fluid" alt="">
                    <figcaption>Bijili Striped Gold 100pcs</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/4 bijili-crackers.jpg" class="img-fluid" alt="">
                    <figcaption>Bijili red 50pcs</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/5 chorsa-bijili-stripped-50-pcs.jpg" class="img-fluid" alt="">
                    <figcaption>Bijili Gold 50pcs</figcaption>
                </div>
            </div>
            <div class="col-md-12 row mb-3" id="chorsa">
                <h2 class="categHeading mb-3"><span>Chorsa</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/6 gowri-shankar.jpg" class="img-fluid" alt="">
                    <figcaption>Gowri Shankar</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/7 28-chorsa.jpg" class="img-fluid" alt="">
                    <figcaption>28 Chorsa</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/8 28-king-cobra.jpg" class="img-fluid" alt="">
                    <figcaption>28 King Chorsa</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/9 28-giant.jpg" class="img-fluid" alt="">
                    <figcaption>28 Chorsa Giant</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/10 56-giant.jpg" class="img-fluid" alt="">
                    <figcaption>56 Chorsa Giant</figcaption>
                </div>
            </div>
            <div class="col-md-12 row mb-3" id="wala">
                <h2 class="categHeading mb-3"><span>Wala</span></h2>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/11 100-wala.jpg" class="img-fluid" alt="">
                    <figcaption>100 Wala</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/12 200-wala.jpg" class="img-fluid" alt="">
                    <figcaption>200 Wala</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/13 300-wala.jpg" class="img-fluid" alt="">
                    <figcaption>300 Wala</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/14 600-wala.jpg" class="img-fluid" alt="">
                    <figcaption>600 Wala</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/15 1000-wala.jpg" class="img-fluid" alt="">
                    <figcaption>1000 Wala</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/16 2000-wala.jpg" class="img-fluid" alt="">
                    <figcaption>2000 Wala</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/17 5000-wala.jpg" class="img-fluid" alt="">
                    <figcaption>5000 Wala</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/18 10000-wala.jpg" class="img-fluid" alt="">
                    <figcaption>10000 Wala</figcaption>
                </div> 
            </div>
            <div class="col-md-12 row mb-3" id="lakshmi">
                <h2 class="categHeading mb-3"><span>Lakshmi</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/19 2-75-bird.jpg" class="img-fluid" alt="">
                    <figcaption>2¾ Kuruvi</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/20 3-5-laxmi.jpg" class="img-fluid" alt="">
                    <figcaption>3½ Lakshmi</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/21 4-inch-vignesh.jpg" class="img-fluid" alt="">
                    <figcaption>4" Vignesh</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/22 4-laxmi.jpg" class="img-fluid" alt="">
                    <figcaption>4" Lakshmi</figcaption>
                </div>  
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/23 4-inch-dlx-laxmi.jpg" class="img-fluid" alt="">
                    <figcaption>4" Lakshmi Deluxe</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/24 4-inch-vignesh.jpg" class="img-fluid" alt="">
                    <figcaption>4" Vignesh Deluxe</figcaption>
                </div>
            </div>
            <div class="col-md-12 row mb-3" id="bomb">
                <h2 class="categHeading mb-3"><span>Bomb</span></h2>
                
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/25 hydrogen-bomb-green.jpg" class="img-fluid" alt="">
                    <figcaption>Hydrogen Bomb Green</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/26 king-kong-bomb-green.jpg" class="img-fluid" alt="">
                    <figcaption>King Kong Bomb Green</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/27 jurassic-bomb.jpg" class="img-fluid" alt="">
                    <figcaption>Jurassic Bomb</figcaption>
                </div>
                <div class="col-md-4 mr-btn-45">
                    <img src="/images/soundsShots/28 mighty-bomb.jpg" class="img-fluid" alt="">
                    <figcaption>Mighty Bomb</figcaption>
                </div>  
                
            </div>
        </div>
    </div>
</section>



<%- include ../partials/footer %>