<%- include ../partials/header %>

<section id="groundFantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Sparklers</h1>
                <p style="text-align:center;" class="mb-3">
                    <a href="#7-10cm" class="pageP">7 - 10 CM</a> | 
                    <a href="#10-20cm" class="pageP">10 - 20 CM</a> | 
                    <a href="#20+cm" class="pageP">20+ CM</a> | 
                    <a href="#pack" class="pageP">Pack</a> 
                </p> 
            </div>
            <div class="col-md-12 row mb-3" id="7cm">
                <h2 class="categHeading mb-3"><span>7 - 10 CM</span></h2>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/7 cm/3 in 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>7cm Sparklers</b> 3 in 1
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/7 cm/Colour.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>7cm Sparklers</b> Colour
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/7 cm/Electric.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>7cm Sparklers</b> Electric
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/7 cm/Green.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>7cm Sparklers</b> Green
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/7 cm/Red.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>7cm Sparklers</b> Red
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/7 cm/Yellow.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>7cm Sparklers</b> Yellow
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 row mb-3" id="10cm">
                <h2 class="categHeading mb-3"><span>10 CM</span></h2>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/10 cm/3 in 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>10cm Sparklers</b> 3 in 1
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/10 cm/Crackling.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>10cm Sparklers</b> Crackling
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/10 cm/Electric.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>10cm Sparklers</b> Electric
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/10 cm/Green.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>10cm Sparklers</b> Green
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/10 cm/Red.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>10cm Sparklers</b> Red
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/10 cm/Yellow.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>10cm Sparklers</b> Yellow
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col-md-12 row mb-3" id="12cm">
                <h2 class="categHeading mb-3"><span>12 CM</span></h2>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/12 cm/3 in 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>12cm Sparklers</b> 3 in 1
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/12 cm/Crackling.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>12cm Sparklers</b> Crackling
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/12 cm/Electric.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>12cm Sparklers</b> Electric
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/12 cm/Green.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>12cm Sparklers</b> Green
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/12 cm/Red.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>12cm Sparklers</b> Red
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/12 cm/Yellow.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>12cm Sparklers</b> Yellow
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 row mb-3" id="15cm">
                <h2 class="categHeading mb-3"><span>15 CM</span></h2>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/15 cm/3 in 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>15cm Sparklers</b> 3 in 1
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/15 cm/Colour.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>15cm Sparklers</b> Colour
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/15 cm/Electric.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>15cm Sparklers</b> Electric
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/15 cm/Green.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>15cm Sparklers</b> Green
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/15 cm/Red.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>15cm Sparklers</b> Red
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/15 cm/Yellow.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>15cm Sparklers</b> Yellow
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/15 cm/Yellow Crackling.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>15cm Sparklers</b> Yellow Crackling
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 row mb-3" id="30cm">
                <h2 class="categHeading mb-3"><span>30 CM</span></h2>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/30 cm/Colour.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>30cm Sparklers</b> Colour
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/30 cm/Electric.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>30cm Sparklers</b> Electric
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/30 cm/Green.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>30cm Sparklers</b> Green
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/30 cm/Red.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>30cm Sparklers</b> Red
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 row mb-3" id="50cm">
                <h2 class="categHeading mb-3"><span>50 CM</span></h2>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/50 cm/3 in 1.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>50cm Sparklers</b> 3 in 1
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/50 cm/Colour.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>50cm Sparklers</b> Colour
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/50 cm/Electric.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>50cm Sparklers</b> Electric
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/50 cm/crackling Tube.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>50cm Sparklers</b> crackling Tube
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/50 cm/Electric Tube.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>50cm Sparklers</b> Electric Tube
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/50 cm/Green.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>50cm Sparklers</b> Green
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-12 row mb-3" id="combo">
                <h2 class="categHeading mb-3"><span>Pack</span></h2>
                
                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/Combo/Celebration Pack.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Celebration Pack</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/Combo/Festival Pack.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Festival Pack</b>                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/Combo/Majestic Pack.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Majestic Pack</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/Sparklers/Combo/Top 5.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Top 5</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>



<%- include ../partials/footer %>