<%- include ../partials/header %>

<section id="groundfantasy">
    <div class="container-fluid cf-groundFantasy">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pageTitle">Twinkling Stars & Bijili</h1>
                <!-- <p style="text-align:center;" class="mb-3"><a href="#chakkars" class="pageP">Chakkars</a> | <a href="#flowerPots"  class="pageP">Flower Pots</a> | <a href="#twinklingStar" class="pageP">Twinkling Star</a></p> -->
            </div>
            <div class="col-md-12 row mb-3" id="chakkars">
                <h2 class="categHeading mb-3"><span>Twinkling Stars & Bijili</span></h2>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/TSB/Chorsa Bijili Red 50.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Chorsa Bijili</b> Red 50
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/TSB/Chorsa Bijili Red 100.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Chorsa Bijili</b> Red 100
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/TSB/Chorsa Bijili Stripped 50.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Chorsa Bijili</b> Stripped 50
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/TSB/Chorsa Bijili Stripped 100.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Chorsa Bijili</b> Stripped 100
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/TSB/Chorsa Bijili Stripped Gold.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Chorsa Bijili</b> Stripped Gold
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/TSB/Twinkling Star Deluxe.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Twinkling Star</b> Deluxe
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mr-btn-45" id="productCard">
                    <!-- .... -->
                    <div class="container">
                        <div class="card">
                          <div class="card-head1">
                            <!-- <img src="" alt="logo" class="card-logo"> -->
                            <img src="/images/TSB/Twinkling Star.png" alt="Product" class="product-img">
                            <!-- <div class="product-detail">
                              <h2>Hartbeespoort</h2> Support and Nike Zoom Air come together for a more supportive feel with high-speed responsiveness
                            </div> -->
                            <span class="back-text">
                                    ANANDA
                                  </span>
                          </div>
                          <div class="card-body">
                            <div class="product-desc">
                              <span class="product-title">
                                <b>Twinkling Star</b>
                                    
                              </span>
                             
                            </div>
                          
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include ../partials/footer %>
